@charset "utf8";

/* screen reader only */
legend,
.sr-only {
  overflow: hidden;
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* 스킵 네비게이션
==========================================================================*/
.skip-nav {
  overflow: hidden;
  position: fixed;
  left: -9999rem;
  top: -9999rem;
  z-index: 200;
  width: 0.1rem;
  height: 0.1rem;
  font-size: 0.1rem;
  line-height: 0.1;
  text-indent: -9999rem;
}
.skip-nav.on {
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  font-size: 1.7rem;
  text-indent: 0;
  text-align: center;
  background-color: var(--gg-gray-90);
}
.skip-nav.on a {
  display: inline-block;
  margin: 1rem;
  padding: 0 1rem;
  color: #fff;
  line-height: 3rem;
}
.skip-nav.on a:hover,
.skip-nav.on a:focus {
  text-decoration: none;
  outline: 0.2rem solid #fff;
}

/* flex */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-4);
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  display: flex;
  justify-content: space-between;
  gap: var(--space-4);
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.flex-none {
  flex: none;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-1 {
  flex: 1 1 0%;
}
.grow {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}

/* grid */
.grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-none {
  grid-template-columns: none;
}

/* 간격 */
.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: var(--space-1);
} /* 4px */
.gap-2 {
  gap: var(--space-2);
}
.gap-3 {
  gap: var(--space-3);
}
.gap-4 {
  gap: var(--space-4);
}
.gap-5 {
  gap: var(--space-5);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-10 {
  gap: var(--space-10);
}

.gap-x-4 {
  column-gap: 1rem;
}
.gap-y-4 {
  row-gap: 1rem;
}

/* padding */
.pd-32 {
  padding: var(--space-8) !important;
}
.pt-40 {
  padding-top: var(--space-10) !important;
}

/* margin */
.mt-8 {
  margin-top: var(--space-2) !important;
}
.mt-16 {
  margin-top: var(--space-4);
}
.mt-24 {
  margin-top: var(--space-6);
}
.mt-40 {
  margin-top: var(--space-10);
}

/* 콘텐츠간 사이 여백 설정 */
[class^="section"] {
  display: flex;
  flex-direction: column;
}
.section-1 {
  gap: var(--space-16) 0;
} /* 64 */
.section-2 {
  gap: var(--space-10) 0;
} /* 40 */
.section-3 {
  gap: var(--space-8) 0;
} /* 32 */
.section-4 {
  gap: var(--space-6) 0;
} /* 24 */
.section-5 {
  gap: var(--space-4) 0;
} /* 16 */

@media (max-width:767px) {
  .section-2 {gap: var(--space-6)};
  .section-4 {gap: var(--space-4)};
}

/* button
=================================================================*/
/* button */
button {
  cursor: pointer;
  line-height: 1.5;
  vertical-align: middle;
}
button.reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
button[class*="ico-"]:focus {
  outline-offset: .1rem;
  outline: 0.2rem solid var(--gg-primary);
  border-color: transparent;
}
button[class*="btn-"]:focus {
  outline-offset: .1rem;
  outline: 0.2rem solid var(--gg-primary);
  border-color: transparent;
}
a:focus {
  outline-offset: .1rem;
  outline: 0.2rem solid var(--gg-primary);
  border-color: transparent;
}

/* button default */
.btn,
.btn:link {
  text-decoration: none;
}

a.btn,
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 4.8rem;
  padding: 1.6rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  word-break: keep-all;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--gg-primary);
  background-color: var(--gg-primary);
  transition: background-color 0.4s ease-in-out;
}
.btn:hover {
  background-color: var(--gg-primary-60);
}
.btn:focus {
  outline-offset: .1rem;
  outline: 0.2rem solid var(--gg-primary);
  border-color: transparent;
}
.btn:active {
  background-color: var(--gg-primary-70);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  color: var(--gg-gray-50) !important;
  border-color: var(--gg-gray-20) !important;
  background-color: var(--gg-gray-20) !important;
}

/* button size */
.btn.xs {
  height: 3.2rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
}
.btn.sm {
  height: 4rem;
  padding: 0 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.5rem;
}
.btn.md {
  height: 4.6rem;
  padding: 0 1.6rem;
  border-radius: 0.6rem;
  font-size: 1.7rem;
}
.btn.lg {
  height: 5.6rem;
  padding: 0 2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
}
.btn.xl {
  height: 6.4rem;
  padding: 0 2.4rem;
  border-radius: 0.8rem;
  font-size: 2rem;
}

/* button color */
.btn.primary {
  color: #fff;
  background-color: var(--gg-primary);
  transition: background-color 0.3s ease-in-out;
}
.btn.primary:hover {
  background-color: var(--gg-primary-60);
}
.btn.primary:active {
  background-color: var(--gg-primary-70);
}
.btn.primary:focus {
  outline: 0.2rem solid var(--gg-primary);
  outline-offset: .1rem;
  border-color: transparent;
}

.btn.secondary {
  color: var(--gg-primary-60);
  border: 0.1rem solid var(--gg-primary-50);
  background-color: var(--gg-primary-5);
  transition: background-color 0.3s ease-in-out;
}
.btn.secondary:hover {
  background-color: var(--gg-primary-10);
}
.btn.secondary:active {
  color: var(--gg-primary-70);
  background-color: var(--gg-primary-20);
}
.btn.secondary:focus {
  outline: 0.2rem solid var(--gg-primary);
  outline-offset: 0.1rem;
  border-color: transparent;
}

.btn.tertiary {
  color: var(--gg-gray-90);
  border: 0.1rem solid var(--gg-gray-60);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.btn.tertiary:hover {
  background-color: var(--gg-gray-5);
}
.btn.tertiary:active {
  background-color: var(--gg-gray-10);
}
.btn.tertiary:focus {
  outline: 0.2rem solid var(--gg-primary);
}

.btn.error {
  border: 0.2rem solid var(--gg-danger) !important;
}
.btn.disabled {
  color: var(--gg-gray-50);
  background-color: var(--gg-gray-20);
  cursor: unset;
}

/* 텍스트 버튼 링크 */
a.btn-txt {
  color: var(--gg-gray-90);
  text-decoration: none;
}
a.btn-txt:hover {
  text-decoration: underline;
}
.btn-txt {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0;
  padding: 0.3rem 0.4rem 0.2rem 0.4rem;
  color: var(--gg-gray-90);
  border: 0;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease-in-out;
  background-repeat: no-repeat;
}
.btn-txt:hover {
  background-color: var(--gg-secondary-5);
}
.btn-txt:focus {
  outline: 0.2rem solid var(--gg-primary);
  outline-offset: .1rem;
  border-color: transparent;
}
.btn-txt.on {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  background-color: var(--gg-secondary-5);
}

.btn-txt[class*="ico-"]::after,
.btn-txt.ico-before::before {
  content: "";
  display: inline-flex;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.2rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-txt.ico-before::after {
  display: none;
}

/* 버튼 안 아이콘 - 좌우 */
.btn[class*="ico-"] {
  gap: 0 0.4rem;
  background-image: none;
}
.btn[class*="ico-"]::after {
  content: "";
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.btn[class*="ico-"].ico-before::before {
  content: "";
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.btn[class*="ico-"].ico-before::after {
  display: none;
}
.btn[class*="ico-"].xsm::before,
.btn[class*="ico-"].xsm::after {
  width: 1.6rem;
  height: 1.6rem;
}
.btn[class*="ico-"].sm::before,
.btn[class*="ico-"].sm::after {
  width: 1.6rem;
  height: 1.6rem;
}
.btn[class*="ico-"].lg::before,
.btn[class*="ico-"].lg::after {
  width: 2.4rem;
  height: 2.4rem;
}
.btn[class*="ico-"].xlg::before,
.btn[class*="ico-"].xlg::after {
  width: 2.4rem;
  height: 2.4rem;
}

/* 버튼 아이콘 개별 매핑 */
.btn-txt.ico-share::after,
.btn-txt.ico-share::before {
  background-image: url("/images/ico/ico-share.svg");
}
.btn-txt.ico-heart::after,
.btn-txt.ico-heart::before {
  background-image: url("/images/ico/ico-heart.svg");
}
.btn-txt.ico-logout::after,
.btn-txt.ico-logout::before {
  background-image: url("/images/ico/ico-logout.svg");
}
.btn-txt.ico-login::after,
.btn-txt.ico-login::before {
  background-image: url("/images/ico/ico-login.svg");
}
.btn-txt.ico-download::after,
.btn-txt.ico-download::before {
  background-image: url("/images/ico/ico-download.svg");
}
.btn-txt.ico-arrow-right::after,
.btn-txt.ico-arrow-right::before {
  background-image: url("/images/ico/ico-arrow-right.svg");
}

/* 아이콘 */
.ico {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* 아이콘 사이즈별 */
.ico.xsm {
  width: 1.6rem;
  height: 1.6rem;
}
.ico.sm {
  width: 2rem;
  height: 2rem;
}
.ico.md {
  width: 2.4rem;
  height: 2.4rem;
} /* 기본 */
.ico.lg {
  width: 3.2rem;
  height: 3.2rem;
}
.ico.xlg {
  width: 4rem;
  height: 4rem;
}

/* 아이콘 설정*/
.ico-menu {
  background-image: url("/images/ico/ico-menu.svg");
}
.ico-join {
  background-image: url("/images/ico/ico-join.svg");
}
.ico-search {
  background-image: url("/images/ico/ico-search.svg");
}
.ico-youtube {
  background-image: url("/images/ico/ico-youtube.svg");
}
.ico-facebook {
  background-image: url("/images/ico/ico-facebook.svg");
}
.ico-instagram {
  background-image: url("/images/ico/ico-instagram.svg");
}
.ico-twitter {
  background-image: url("/images/ico/ico-X_twitter.svg");
}
.ico-blog {
  background-image: url("/images/ico/ico-naver_blog.svg");
}
.ico-close {
  background-image: url("/images/ico/ico-close.svg");
}
.ico-delete {
  background-image: url("/images/ico/ico-delete.svg");
}
.ico-pwd-view {
  background-image: url("/images/ico/ico-pwd-view.svg");
}
.ico-pwd-view-off {
  background-image: url("/images/ico/ico-pwd-view-off.svg");
}
.ico-attach {
  background-image: url("/images/ico/ico-attach.svg");
}
.ico-refresh {
  background-image: url("/images/ico/ico-refresh.svg");
}

.ico-dataset {
  background-image: url("/images/content/dataset.svg");
}

/* font */
.font-normal {
  font-weight: 400 !important;
}
.font-bold {
  font-weight: 700;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-blue {
  color: var(--gg-secondary-70);
}



/* card
========================================================================== */
.card {
  border-radius: 1.2rem;
  padding: var(--space-10);
}

.card.outline {
  border: 1px solid var(--gg-gray-30);
  background: #fff;
}

.card.filled {
  background: var(--gg-secondary-5);
  border: 1px solid transparent;
}

.card.sm {
  padding: var(--space-6);
}
.card.bg-gray {
  background-color: var(--gg-gray-5);
  border: 1px solid transparent;
}

@media (max-width: 767px) {
  .card { padding: var(--space-6) !important; }
}

/* pagination
========================================================================== */
.pagination-wrap {
  margin-top: var(--space-10);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagination *:focus {
  outline-offset: -0.4rem;
  outline: 0.2rem solid var(--gg-primary);
}
.pagination .page-navi {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 6.2rem;
  height: 4rem;
  color: var(--gg-gray-70);
  border-radius: 0.6rem;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}
.pagination .page-navi.first {
  padding: 0 var(--space-2) 0 var(--space-1);
  margin-right: var(--space-2);
}
.pagination .page-navi.prev {
  padding: 0 var(--space-2) 0 var(--space-1);
  margin-right: var(--space-2);
}
.pagination .page-navi.next {
  padding: 0 var(--space-1) 0 var(--space-2);
  margin-left: var(--space-2);
}
.pagination .page-navi.last {
  padding: 0 var(--space-1) 0 var(--space-2);
  margin-left: var(--space-2);
}
.pagination .page-navi.first::before,
.pagination .page-navi.prev::before,
.pagination .page-navi.next::after,
.pagination .page-navi.last::after {
  display: block;
  content: "";
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: top -0.1rem center;
  background-size: 100% auto;
}
.pagination .page-navi.first::before {
  background-image: url("/images/ico/ico-arrow-left_f.svg");
}
.pagination .page-navi.prev::before {
  background-image: url("/images/ico/ico-arrow-left.svg");
}
.pagination .page-navi.next::after {
  background-image: url("/images/ico/ico-arrow-right.svg");
}
.pagination .page-navi.last::after {
  background-image: url("/images/ico/ico-arrow-right_e.svg");
}
.pagination .page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.8rem;
}
.pagination .page-links a,
.pagination .page-links span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  height: 4rem;
  color: var(--gg-gray-70);
  border-radius: 0.6rem;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}
.pagination .page-links span.link-dot {
  background: url("/images/ico/ico-page_dot.svg") no-repeat center;
  background-size: 2.4rem;
}
.pagination .page-navi:hover,
.pagination .page-links a:hover {
  background-color: var(--gg-secondary-5);
}
.pagination .page-navi:active,
.pagination .page-links a:active {
  background-color: var(--gg-secondary-10);
}
.pagination .page-links a.active {
  color: #fff;
  font-weight: 700;
  background-color: var(--gg-secondary-70);
}
.pagination-wrap .page-goto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}

/* 비활성화 */
.pagination .page-navi.disabled {
  color: var(--gg-gray-40);
  background-color: #fff !important;
  cursor: default;
  pointer-events: none;
}
.pagination .page-navi.disabled:focus {
  outline: none;
}
.pagination .page-navi.first.disabled::before {
  background-image: url("/images/ico/dis-arrow-left_f.svg");
}
.pagination .page-navi.prev.disabled::before {
  background-image: url("/images/ico/dis-arrow-left.svg");
}
.pagination .page-navi.next.disabled::after {
  background-image: url("/images/ico/dis-arrow-right.svg");
}
.pagination .page-navi.last.disabled::after {
  background-image: url("/images/ico/dis-arrow-right_e.svg");
}

/* 모바일 */
@media (max-width: 767px) {
  .pagination {
    position: relative;
    padding-top: var(--space-8);
  }
  .pagination .page-navi {
    position: absolute;
    top: 0;
    padding: 0;
    transition: 0s;
  }
  .pagination .page-navi.first {
    left: 50%;
    margin-left: -13rem;
  }
  .pagination .page-navi.prev {
    left: 50%;
    margin-left: -7rem;
  }
  .pagination .page-navi.next {
    left: 50%;
    margin-left: 1rem;
  }
  .pagination .page-navi.last {
    left: 50%; 
    margin-left: 7rem;
  }
  .pagination .page-links span.link-dot {
    min-width: 2.4rem;
  }
  .pagination .page-links {
    display: none;
  }
}

/* tab
========================================================================== */
/* 공통 */
.tab-area {
  display: flex;
  flex-direction: column;
}
.tab-list ul {
  overflow-x: auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tab-list ul li {
  display: inline-flex;
  height: 5.6rem;
  white-space: nowrap;
}
.tab-list ul li .btn-tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  color: var(--gg-gray-70);
  border: none;
  background-color: #fff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
.tab-list ul li .btn-tab:hover {
  background-color: var(--gg-secondary-5);
}
.tab-list ul li .btn-tab:active {
  background-color: var(--gg-secondary-10);
}
.tab-list ul li .btn-tab:focus {
  outline: 0.2rem solid var(--gg-primary);
  outline-offset: -0.4rem;
  border-color: transparent;
}
.tab-list ul li .btn-tab:disabled {
  background-color: #fff !important;
  color: var(--gg-gray-40);
}

/* 기본 */
/* .tab-list.line ul { gap:0.8rem;} */
.tab-list.line ul li {
  min-width: 6.4rem;
  height: 4rem;
}
.tab-list.line ul li .btn-tab {
  position: relative;
  z-index: 1;
  padding: 0.4rem;
}
.tab-list.line ul li .btn-tab::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--gg-gray-30);
}
.tab-list.line ul li .btn-tab.active {
  color: var(--gg-secondary-80);
}
.tab-list.line ul li .btn-tab.active::after {
  width: 100%;
  height: 0.4rem;
  background-color: var(--gg-secondary-70);
}
.tab-list.line.lg ul li {
  height: auto;
  min-height: 5.6rem;
}
.tab-list.line.lg ul li .btn-tab {
  padding: 0.4rem 1.6rem;
  font-size: var(--gg-fz-b-lg);
}

/* 하단 구분선 */
.tab-list.line.border ul {
  gap: 0;
  position: relative;
}
.tab-list.line.border ul::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: var(--gg-gray-30);
}
.tab-list.line.border ul li .btn-tab::after {
  width: 100%;
}

/* 둥근 탭 */
.tab-list.fill ul li .btn-tab {
  min-width: 8rem;
  padding: 1.2rem 1.6rem;
  border: 0.1rem solid var(--gg-gray-30);
  border-left-width: 0;
}
.tab-list.fill ul li:first-child .btn-tab {
  border-left-width: 0.1rem;
  border-radius: 0.8rem 0 0 0.8rem;
}
.tab-list.fill ul li:last-child .btn-tab {
  border-radius: 0 0.8rem 0.8rem 0;
}
.tab-list.fill ul li .btn-tab.active {
  color: #fff;
  border-color: var(--gg-secondary-70);
  background-color: var(--gg-secondary-70);
}

/* full :width:100%; */
.tab-list.full ul {
  align-items: stretch;
}
.tab-list.full ul li {
  width: 100%;
  min-width: auto;
  height: auto;
  min-height: 5.6rem;
  white-space: normal;
}
.tab-list.full ul li .btn-tab {
  font-size: var(--gg-fz-sm);
}

/* 탭 콘텐츠 */
.tab-con {
  display: none;
}
.tab-con.active {
  display: block;
}

/* form
========================================================================== */
select,
optgroup {
  line-height: 1.5;
}

/* placeholder */
::placeholder {
  color: var(--gg-gray-40);
  opacity: 1;
}

/* input reset */
[type="tel"],
[type="text"],
[type="file"],
[type="date"],
[type="month"],
[type="email"],
[type="number"],
[type="search"],
[type="password"],
textarea {
  line-height: 1.5;
  box-shadow: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  -webkit-caret-color: #000;
  caret-color: #000;
}
textarea {
  resize: none;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

/*label*/
label .req,
.title label .req {
  color: var(--gg-danger-60);
  font-weight: 400;
}

/* input custom */
input.input {
  width: 100%;
  height: 4.8rem;
  padding: 0 1.6rem;
  border: 0.1rem solid var(--gg-gray-60);
  border-radius: 0.6rem;
  color: var(--gg-gray-90);
  font-size: 1.7rem;
  outline-offset: -0.2rem;
}
input.input:focus {
  outline: 0.2rem solid var(--gg-primary);
  outline-offset: .1rem;
  border-color: transparent;
}
input.input.error {
  outline: 0.2rem solid var(--gg-danger);
  border-color: transparent;
}
input.input[readonly],
input.input[disabled] {
  color: var(--gg-gray-70);
  border-color: var(--gg-gray-30);
  background-color: var(--gg-gray-20);
  pointer-events: none;
}
input.input[readonly]::placeholder,
input.input[disabled]::placeholder {
  color: var(--gg-gray-50);
}

input[type="date"].input,
input[type="month"].input {
  padding: 0 1.6rem;
}

/* size */
input.input.sm {
  height: 4rem;
  font-size: 1.6rem;
}
input.input.lg {
  height: 5.6rem;
  border-radius: 0.8rem;
  font-size: 1.9rem;
}

/* input file */
.input-file {
  display: flex;
  align-items: center;
  width: 100%;
}
.input-file .input {
  width: auto;
  min-width: 20rem;
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
}
.input-file .limit {
  flex-shrink: 0;
  margin-left: 1.6rem;
}
.input-file .limit .vol {
  color: var(--gg-primary);
}

/* input 기능 :비밀번호 보기, 리셋 버튼 */
.input-fn {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0 0.8rem;
  width: 100%;
  height: 4.8rem;
  padding: 0 1.6rem 0 0;
  border: 0.1rem solid var(--gg-gray-60);
  border-radius: 0.6rem;
  color: var(--gg-gray-90);
  font-size: 1.9rem;
  outline-offset: -0.2rem;
  background-color: #fff;
}
.input-fn.focus {
  outline: 0.2rem solid var(--gg-primary);
  border-color: transparent;
}
.input-fn.error {
  outline: 0.2rem solid var(--gg-danger);
  border-color: transparent;
}
.input-fn .input {
  height: 100%;
  padding-right: 0;
  border: 0;
  border-radius: 0.6rem 0 0 0.6rem;
}
.input-fn .input:focus {
  outline: 0;
}

.input-fn.sm {
  height: 4rem;
}
.input-fn.sm .input {
  font-size: 1.5rem;
}

.input-fn.lg {
  height: 5.6rem;
  border-radius: 0.8rem;
  font-size: 1.9rem;
}
.input-fn.lg .input {
  height: 100%;
  font-size: 1.9rem;
  border-radius: 0.8rem 0 0 0.8rem;
}
.input-fn.lg .btn-pwd-view:after {
  width: 2rem;
  height: 2rem;
}

.input-fn.select-date {
  width: 100%;
}
.input-fn.sm.select-date {
  width: 16rem;
}
.input-fn .datepicker-layer {
  display: none;
  position: absolute;
  left: 0;
  top: 4.8rem;
  z-index: 10;
  width: 50rem;
}
.input-fn.sm .datepicker-layer {
  top: 4rem;
}
.input-fn .datepicker-layer.on {
  display: block;
}
.input-fn .datepicker-layer .datepicker-wrap {
  margin: 0;
}

.input-fn.select-date {
  padding-right: 0;
  gap: 0;
}
.input-fn.select-date .btn-calendar {
  width: 5.2rem;
  height: 100%;
  border-radius: 0 0.6rem 0.6rem 0;
}
.input-fn.select-date .input[readonly] ~ .btn-calendar {
  background-color: #fff;
}
.input-fn.select-date .input[disabled] ~ .btn-calendar {
  background-color: #fff;
}

@media (max-width: 1024px) {
  .input-fn.select-date {
    width: 100%;
  }
}

/* 입력 서식 구조 */
.fieldset {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--space-2);
}
.form-group {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2);
  width: 100%;
  max-width: 75.2rem;
}
.form-group p:not(.form-hint) {
  margin: 0;
  padding: 0;
}
.form-group.full {
  width: 100%;
}
.form-group .form-tit {
  margin: 0;
  font-size: 1.5rem;
  color: var(--gg-gray-70);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.form-group p.atomic-msg {
  font-size: 1.3rem;
  color: var(--gg-gray-70);
}
.form-group .form-tit p {
  margin: 0;
  padding: 0;
}
.form-group .form-tit.lg {
  margin-bottom: 1.6rem;
  font-size: 1.9rem;
  color: var(--gg-gray-90);
}
.form-group .form-tit.lg .sub {
  font-size: var(--gg-fz-b-md);
}
.form-group .form-tit .req {
  vertical-align: baseline;
}

.form-group .form-conts {
  display: flex;
  align-items: flex-start;
  gap: 0 1.6rem;
  width: 100%;
}
.form-group .form-conts > p {
  margin: 0;
  padding: 0;
  color: var(--gg-gray-90);
  font-size: 1.9rem;
}
.form-group .form-conts .txt-btn {
  display: flex;
  align-items: center;
  gap: 0 1.6rem;
  width: 100%;
  min-height: 5.6rem;
}
.form-group .form-conts .txt-btn p {
  color: var(--gg-gray-90);
  font-size: 1.9rem;
}
.form-group .chk-area {
  display: flex;
  gap: var(--space-5);
}
.chk-area.chk-column {
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1024px) {
  .form-group .form-conts .txt-btn {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem 0;
    width: 100%;
    min-height: 5.6rem;
  }
  .form-group .form-conts .txt-btn p {
    color: var(--gg-gray-90);
    font-size: 1.9rem;
  }
}

/* 텍스트와 버튼 조합 */
.form-group.txt-btn {
  flex-direction: row;
  align-items: center;
  column-gap: var(--space-4);
}

@media (max-width: 1024px) {
  .form-group.txt-btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-group.txt-btn .btn-wrap {
    width: 100%;
  }
  .form-group.txt-btn .btn-wrap .btn {
    flex-shrink: 1;
  }
}

.form-hint {
  display: flex;
  margin: 0;
  padding: 0 0 0 2rem;
  font-size: var(--gg-fz-b-xsm);
  color: var(--gg-gray-70);
}
.form-hint::before {
  content: "";
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -2rem;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  vertical-align: top;
  background: url("/images/ico/ico-info.svg") no-repeat center;
  background-size: contain;
}

.form-hint.error {
  color: var(--gg-danger-60);
}
.form-hint.error::before {
  background-image: url("/images/ico/ico-error.svg");
}

.form-hint.warning {
  color: var(--gg-warning-60);
}
.form-hint.warning::before {
  background-image: url("/images/ico/ico-warning.svg");
}

.form-hint.success {
  color: var(--gg-success-60);
}
.form-hint.success::before {
  background-image: url("/images/ico/ico-success.svg");
}

.form-hint.info {
  color: var(--gg-info-60);
}
.form-hint.info::before {
  background-image: url("/images/ico/ico-info.svg");
}

/* checkbox, radio (default size: 20) */
.input-area {
  display: flex;
  flex-direction: column;
  gap: 2.4rem 0;
  width: 100%;
}

.form-check {
  position: relative;
}
.form-check input[type="radio"],
.form-check input[type="checkbox"] {
  overflow: hidden;
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: 0.1rem;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.form-check input[type="radio"]:focus + label,
.form-check input[type="checkbox"]:focus + label {
  outline-offset: 0.4rem;
  outline: 0.2rem solid var(--gg-primary);
  border-radius: 0.2rem;
}

.form-check input[type="radio"] + label,
.form-check input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem 0.4rem;
  flex-wrap: wrap;
  position: relative;
  min-height: 2rem;
  padding-left: 2.8rem;
  font-size: 1.7rem;
  color: var(--gg-gray-95);
  font-weight: 400;
}

.form-check input[type="radio"] + label:before,
.form-check input[type="checkbox"] + label:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0.2rem;
  z-index: 1;
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 0.1rem solid var(--gg-gray-60);
  box-sizing: border-box;
  transition: 0.4s cubic-bezier(0.4, 0, 0.23, 1);
}
.form-check input[type="radio"] + label:after,
.form-check input[type="checkbox"] + label:after {
  display: block;
  position: absolute;
  z-index: 2;
  content: "";
  background-color: #fff;
  transition: 0.4s cubic-bezier(0.4, 0, 0.23, 1);
}
.form-check input[type="radio"]:disabled + label,
.form-check input[type="checkbox"]:disabled + label {
  color: #8a949e;
  cursor: default;
}


@media (max-width: 1024px) {
  .chk-area {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .chk-area.row {
    flex-direction: column;
  }
}

/* checkbox */
.form-check input[type="checkbox"] + label:before {
  border-radius: 0.4rem;
}
.form-check input[type="checkbox"]:checked + label:before {
  border-color: var(--gg-primary);
  background-color: var(--gg-primary);
}
.form-check input[type="checkbox"][disabled] + label:before {
  border-color: var(--gg-gray-30);
  background-color: var(--gg-gray-20);
}
.form-check input[type="checkbox"] + label:after {
  opacity: 0;
  left: 0.4rem;
  top: 0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: transparent;
  background-image: url("/images/ico/ico-w-chk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}

.form-check input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transition-delay: 0.2s;
}
.form-check input[type="checkbox"][disabled] + label:after {
  background-image: url("/images/ico/ico-w-chk.svg");
}

/* form-check.dash */
.form-check.dash input[type="checkbox"] + label:after {
  left: 0;
  top: 0.2rem;
  width: 2rem;
  height: 2rem;
  background-image: url("/images/ico/dis-chk-dash.svg");
  transition-delay: 0s;
}
.form-check.dash input[type="checkbox"][disabled] + label:after {
  background-image: url("/images/ico/dis-chk.svg");
}

/* radio */
.form-check input[type="radio"] + label:before {
  border-radius: 2rem;
}
.form-check input[type="radio"]:checked + label:before {
  border-color: var(--gg-primary);
}
.form-check input[type="radio"][disabled] + label:before {
  border-color: #8a949e;
  background-color: #ccd1d5;
}
.form-check input[type="radio"] + label:after {
  left: 0.5rem;
  top: 0.7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.form-check input[type="radio"]:checked + label:after {
  background-color: var(--gg-primary);
}
.form-check input[type="radio"][disabled] + label:after {
  display: none;
  background-color: #8a948a;
}
.form-check input[type="radio"]:checked[disabled] + label:after {
  display: block;
}


/* 라벨텍스트 없는 경우 */
.form-check.ico-only {display:inline-flex; vertical-align:middle;}
.form-check.ico-only > input[type='checkbox'] + label,
.form-check.ico-only > input[type='radio'] + label {padding-left:2rem;}
.form-check.ico-only.lg > input[type='checkbox'] + label,
.form-check.ico-only.lg > input[type='radio'] + label {padding-left:2.4rem;}
.form-check.ico-only > input[type='radio'] + label::before,
.form-check.ico-only > input[type='checkbox'] + label::before {top:0;}
.form-check.ico-only > input[type='checkbox'] + label::after {top:0.4rem;}
.form-check.ico-only > input[type='radio'] + label::after {top:0.5rem;}
.form-check.ico-only.lg > input[type='radio'] + label::after {top:0.6rem;}

/* large size */
.form-check.lg > input[type='checkbox'] + label,
.form-check.lg > input[type='radio'] + label {min-height:2.4rem; padding-left:4rem; font-size:1.9rem; font-weight: bold;}

.form-check.lg > input[type='checkbox'] + label:before {width:2.4rem; height:2.4rem;}
.form-check.lg > input[type='checkbox'] + label:after {width:1.6rem; height:1.6rem;}
.form-check.lg.dash > input[type='checkbox'] + label:after {width:2.4rem; height:2.4rem;}

.form-check.lg > input[type='radio'] + label:before {width:2.4rem; height:2.4rem; border-radius:2.4rem;}
.form-check.lg > input[type='radio'] + label:after {left:0.6rem; top:0.8rem; width:1.2rem; height:1.2rem; border-radius:1.6rem;}

/* textarea */
textarea.input {
  width: 100%;
  height: 14.4rem;
  padding: var(--space-2) var(--space-4);
  border: .1rem solid var(--gg-gray-60);
  border-radius: 0.8rem;
  background-color: #fff;
  color: var(--gg-gray-90);
  font-size: var(--gg-fz-b-lg);
}
textarea:focus {
  outline:0.2rem solid var(--gg-primary);
  
  border-color: transparent;
}
.textarea-count {
  font-size: var(--gg-fz-b-sm);
  color: var(--gg-gray-90);
}
.count-now {
  color: var(--gg-primary-60);
}

/* select */
.form-select {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100%;
	min-width:10.8rem;
	height:4.8rem;
	padding:0 4.4rem 0 1.6rem;
	color:var(--gg-gray-90) !important;
	line-height:1.5;
	border:0.1rem solid var(--gg-gray-60);
	border-radius:0.6rem;
	background:#fff url('/images/ico/ico-arrow-down.svg') no-repeat center right 1.6rem;
	background-size:2rem auto;
	outline-offset:-0.2rem;
	appearance: none;
}

.form-select:focus {outline:0.2rem solid var(--gg-primary);}
.form-select[disabled] {color:var(--gg-gray-70); border-color:var(--gg-gray-30); background-color:var(--gg-gray-20); opacity:1;}
.form-select.error {outline:0.2rem solid #dc3318; border-color:transparent;}


/* size */
.form-select.sm {height:4rem; padding:0 4rem 0 1.6rem; font-size:1.5rem; background-size:1.6rem auto;}
.form-select.md {height:4.8rem; padding:0 4.4rem 0 1.6rem; font-size:1.7rem; background-size:2.0rem auto;}
.form-select.lg {height:5.6rem; padding:0 4.8rem 0 1.6rem; font-size:1.9rem; border-radius:0.8rem; background-size:2.4rem auto;}

/* refer */
.refer {position:relative; margin:0; padding-left:2rem; color:var(--gg-gray-70);}
.refer::before {content:'※'; display:block; position:absolute; left:0; top:0; width:1.6rem;}
.refer.text-primary::before {color:var(--gg-primary-60);}
.title.refer {padding-left:2.5rem;}
.list-refer {margin:0; padding:0; list-style-type:none;}
.list-refer > li {position:relative; margin-top:0.8rem; padding-left:2rem; color:var(--gg-gray-70);}
.list-refer > li:first-child {margin-top:0;}
.list-refer > li::before {display:block; position:absolute; left:0; top:0; content:'※'; width:1.6rem;}


/* tag-chip
========================================================================== */
.tag-chip-area {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.tag-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.2rem;
  padding: var(--space-2) var(--space-3);
  font-size: 1.5rem;
  border: 0.1rem solid var(--gg-gray-20);
  border-radius: 3.2rem;
  background-color: #fff;
  transition: 0.3s;
}
a.tag-chip:hover,
button.tag-chip:hover {
  background-color: var(--gg-secondary-5);
}
a.tag-chip:active,
button.tag-chip:active {
  background-color: var(--gg-secondary-10);
}
a.tag-chip:hover .label,
button.tag-chip:hover .label {
  text-decoration: underline;
}

.tag-chip .label {
  color: var(--gg-gray-90);
}
.tag-chip .btn-delete {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
.tag-chip .btn-delete::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images/ico/ico-delete.svg") no-repeat center;
  background-size: contain;
}

/* size */
.tag-chip.sm {
  height: 2.4rem;
  padding: 0.8rem;
  font-size: 1.3rem;
  border-radius: 2.4rem;
}
.tag-chip.lg {
  height: 4rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.7rem;
  border-radius: 4rem;
}
.tag-chip.lg .btn-clear {
  width: 1.6rem;
  height: 1.6rem;
}
.tag-chip.xlg {
  min-height: 4.8rem;
  padding: 0.8rem 2.4rem;
  font-size: 1.7rem;
}

/* dl dt dd
========================================================================== */
.def-list-wrap .def-list { 
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}
.def-list-wrap .def-list > dt {
  width: 12rem;
  margin-right: var(--space-6);
  font-weight: 700;
}
.def-list-wrap .def-list > dd {
  width: calc(100% - (12rem + var(--space-6)));
  min-width: 0;
  flex: 0 0 auto;
}

.def-list-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: var(--space-6) var(--space-4);   /* column-gap row-gap */
}
.def-list-wrap .def-item.item-single {
  grid-column: 1 / -1; 
}
.def-item {
  display: grid;
  grid-template-columns: 12rem 1fr; /* dt 고정, dd 나머지 */
  column-gap: var(--space-4);
}

.def-item > dt {
  font-weight: 700;
}

.def-item > dd {
  min-width: 0;
  word-break: break-word;
}

@media (max-width: 768px) {
  .def-list-wrap {
    grid-template-columns: 1fr; /* 한 줄에 1개 */
  }
  .def-item {
    grid-template-columns: 12rem 1fr; /* dt+dd는 그대로 유지 */
  }
}

/* 팝업
========================================================================== */
body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.gg-modal-alert.is-active {
  display: flex;
}
.gg-modal-alert {
  display: none;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.gg-modal-alert .modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}
.gg-modal-alert .modal-wrap .modal-dialog {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 40rem;
  max-width: 70%;
  min-height: 19.6rem;
  max-height: 80%;
  margin: 0;
  padding: 4.8rem 2.4rem 2.4rem 2.4rem;
  border-radius: 1.2rem;
  background-color: #fff;
}
.gg-modal-alert .modal-wrap .modal-dialog .modal-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: 0.8rem var(--space-4) 0;
}
.gg-modal-alert .modal-wrap .modal-dialog .modal-header .small-txt {
  font-size: var(--gg-fz-b-sm);
  font-weight: 700;
}
.gg-modal-alert .modal-wrap .modal-dialog .modal-header .modal-title {
  color: var(--gg-gray-90);
}
.gg-modal-alert .modal-wrap .modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  max-height: 100%;
  margin-top: var(--space-4);
  padding: 0 var(--space-4) 0.1rem var(--space-4);
}
.gg-modal-alert .modal-wrap .modal-dialog .modal-footer {
  padding: var(--space-6) var(--space-4) 0;
}
.gg-modal-alert .modal-wrap .modal-dialog .modal-footer .modal-btn {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-3);
}
.gg-modal-alert .modal-wrap .modal-dialog .btn-close {
  display: block;
  position: absolute;
  right: 2.4rem;
  top: 2.4rem;
  margin: 0;
  padding: 0;
  border: 0;
}
.gg-modal-alert .modal-body.max-w-760 {
  max-width: 76rem;
}


/* 모바일 바텀시트
========================================================================== */
/* PC 중앙 팝업 */
/* @media (min-width: 769px) {
  .m-bottom-sheet .modal-dialog {
    max-width: 86rem !important;
    max-height: 80%;
  }
  .m-bottom-sheet .modal-dialog .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 80%;
    overflow-y: auto;
  }
  .m-bottom-sheet .modal-dialog .modal-body .fieldset {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: var(--space-4);
    padding: 1rem 0;
  }
  .m-bottom-sheet .modal-dialog .modal-body .fieldset .form-check {
    width: 23%;
  }
} */

/* 모바일 바텀시트 */
@media (max-width: 768px) {
  .search-bar .btn-wrap {
    justify-content: space-between !important;
    width: 100%;
  }
  .search-bar .btn-wrap button {
    width: calc(50% - 0.8rem) !important;
  }

  .m-bottom-sheet .modal-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
    /*max-height: 70%;  필요에 따라 조절 */
    margin: 0;
    padding: 0;
  }

  .m-bottom-sheet .modal-wrap .modal-dialog {
    transform: translateY(0);
    padding: var(--space-6);
  }

  .m-bottom-sheet .modal-dialog {
    width: 100%;
    min-width: 100% !important;
    border-radius: 1.2rem 1.2rem 0 0 !important;

    /* 애니메이션 */
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }

  .m-bottom-sheet .gg-modal-alert.is-active .modal-dialog{
    display: flex-end;
    justify-content: center;
    transform: translateY(0);
  } 

  .m-bottom-sheet .modal-dialog .modal-body {
    flex-direction: column;
    justify-content: flex-start;
    max-height: calc(70vh - 40px);
    overflow-y: auto;
  }

  .m-bottom-sheet .modal-dialog .modal-body .fieldset {
    width: 100%;
    flex-direction: column;
    gap: var(--space-2);
    padding: 1rem 0;
  }

  .m-bottom-sheet .modal-dialog .modal-body .fieldset .form-check {
    width: 100%; 
  }

  .m-bottom-sheet .modal-dialog .modal-footer .modal-btn {
    justify-content: space-between !important;
  }

  .m-bottom-sheet .modal-dialog .modal-footer .modal-btn button {
    flex: 1;
  }

  .modal-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .modal-dialog {
    width: 100%;
    max-height: 80vh;
    background: #fff;
    border-radius: 16px 16px 0 0;
    transform: translateY(100%); /* 아래에서 시작 */
    transition: transform 0.3s ease;
  }

}

/* search box
========================================================================== */
/* 페이지 상단 검색 박스 */
.search-top-box {
  min-width: auto;
}
.sch-form-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--space-4);
}
.sch-input {
  display: flex;
  position: relative;
}
.sch-bar-input .sch-input {
  width: 100%;
}
.search-top-box .sch-form-wrap .input {
  width: 48.5rem;
}
.sch-input .input {
  padding: 0 var(--space-12) 0 var(--space-4);
}
.search-top-box .sch-filter-box {
  padding: var(--space-10);
  border-radius: 1.2rem;
  background-color: var(--gg-secondary-5);
  margin-top: var(--space-10);
}
.search-top-box .sch-filter-box .filter-form {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--space-6);
  max-width: 100%;
  flex-wrap: wrap;
}
.search-top-box .sch-filter-box .filter-form > div{ 
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--space-3);
  width: 100%;
  max-width: 26.5rem;
}
.search-top-box .sch-filter-box .filter-form > div.sch-bar-input {
  max-width: fit-content;
}
.search-top-box .sch-filter-box .filter-form > div.sch-bar-input.mw-100 {
  max-width: 100%;
}
.search-top-box .sch-filter-box .filter-form .label {
  font-weight: 700;
  white-space: nowrap;
  min-width: 8rem;
}
.search-top-box .filter-chip {
  padding: var(--space-6) 0 0;
  margin: var(--space-6) 0 0;
  border-top: .1rem solid var(--gg-secondary-10);
  border-radius: 0;
}
.search-top-box .filter-chip dt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-weight: 700;
  white-space: nowrap;
  height: 3.2rem;
}
.search-top-box .filter-chip dt .num {
  margin-left: var(--space-1);
  color: var(--gg-primary);
}
.search-top-box .filter-chip dd {
  display: flex;
  gap: var(--space-2);
  flex: 1;
}
.search-top-box .filter-chip dd .btn-reset {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  border: .1rem solid var(--gg-gray-20);
  border-radius: 50%;
  vertical-align: middle;
  background-color: #fff;
}
.search-top-box .filter-chip dd .btn-reset::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url("/images/ico/ico-refresh.svg");
  background-size: contain;
}
.filter-chip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--space-4);
}
@media (max-width: 767px) {
  .search-top-box .sch-filter-box {
    padding: var(--space-6);
  }
}

/* sort */
.search-list-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: var(--space-10);
}
.search-list-top .sch-info {
  display: inline;
  font-size: var(--gg-fz-b-lg);
  font-weight: 700;
}
.search-list-top .sch-info li {
  display: inline;
}
.search-list-top .sch-info .point {
  color: var(--gg-primary);
}
.search-list-top .sch-sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.search-list-top .sch-sort .sort-label {
  font-weight: 700;
  white-space: nowrap;
  margin-right: var(--space-3);
}
/* .search-list-top .sch-info li, */
.search-list-top .sch-sort li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}
.search-list-top .sch-info li:not(:last-child),
.search-list-top .sch-sort li:not(:last-child) {
  padding-right: 1.7rem;
}
.search-list-top .sch-sort .w-sort-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--space-2);
}
.search-list-top .sch-sort .w-sort-btn button {
  transition: 0.4s ease-in-out;
  color: var(--gg-gray-90);
  border-radius: 0.6rem;
  padding: 0 var(--space-1);
}
.search-list-top .sch-sort .w-sort-btn button.active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  background-color: var(--gg-secondary-5);
}           
.search-list-top .sch-sort .form-select {
  height: auto;
  min-width: 6rem;
  padding: 0 var(--space-6) 0 var(--space-1);
  border: 0;
  background-position: right;
}
.search-list-top .sch-sort li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: .1rem;
  height: 1.6rem;
  background-color: var(--gg-gray-40);
  position: absolute;
  bottom: 0.5rem;
  right: 0.7rem;
}

/* table
========================================================================== */
.p-table {
  position: relative;
  z-index: 1;
  width: 100%;
  border-collapse: collapse;
}

.p-table thead tr:first-child th {
  border-top: 0.1rem solid transparent;
}

.p-table caption + tbody tr:first-child td,
.p-table caption + tbody tr:first-child th,
.p-table colgroup + tbody tr:first-child td,
.p-table colgroup + tbody tr:first-child th {
  border-top: 0.2rem solid #222;
}

.p-table th {
  position: relative;
  padding: 0.9rem 0.5rem;
  color: #131416;
  font-size: var(--gg-fz-b-sm);
  font-weight: 700;
  text-align: center;
  line-height: 2.3rem;
  vertical-align: middle;
}

.p-table thead th:first-child:before {
  display: none;
}

.p-table thead th {
  border-bottom: 0.1rem solid var(--gg-secondary-10);
  background-color: var(--gg-secondary-5);
}

.p-table th .p-form__label:before {
  display: none;
}

.p-table tbody th {
  font-weight: 600;
}

.p-table caption + tbody th,
.p-table colgroup + tbody th {
  background: #f6f6f6;
}

.p-table td {
  padding: 1.25rem 0.5rem;
  border-bottom: 0.1rem solid var(--gg-gray-20);
  color: var(--gg-gray-70);
  font-size: var(--gg-fz-b-md);
  line-height: 2.3rem;
  vertical-align: middle;
  box-sizing: border-box;
  word-break: break-all;
}

/* 모바일 */
.p-table.mobile .add-head {
  display: none;
}

@media (max-width: 767px) {
  .web-only {
    display: none !important;
  }
  .p-table.mobile {
    display: block;
    width: 100%;
    border-top: 0.1rem solid var(--gg-gray-40);
  }
  .p-table.mobile thead {
    display: block;
    width: 100%;
  }
  .p-table.mobile thead th {
    display: none;
  }
  .p-table.mobile tbody {
    display: block;
    width: 100%;
  }
  .p-table.mobile tbody tr {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    min-height: .1rem;
    border-bottom: .1rem solid var(--gg-gray-40) !important;
    padding: var(--space-2) 0;
    box-sizing: border-box;
  }

  .p-table.mobile tbody td {
    display: flex;
    width: 100%;
    padding: 0;
    border-top: none;
    border-bottom: none !important;
    text-align: left !important;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--gg-gray-70);
  }
  .p-table.mobile .add-head {
    display: block;
    width: 8.4rem;
    max-width: 8.4rem;
    padding: var(--space-1) var(--space-2) var(--space-1) 0;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
    color: var(--gg-gray-90);
  }
  .p-table.mobile .tds {
    display: block;
    flex: 1 0;
    padding: var(--space-1) 0 0;
    box-sizing: border-box;
  }
  .p-table.mobile .add-head:after {
    content: " :";
  }
}

/* 단계 stepper
========================================================================== */
.list-step {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-step li {
  position: relative;
  width: 100%;
  min-width: 12rem;
  padding-top: 2.8rem;
  padding-right: 2.4rem;
}
.list-step li::before {
  position: absolute;
  right: -0.1rem;
  top: 0.9rem;
  content: "";
  width: 100%;
  height: 0.16rem;
  background-color: var(--gg-gray-20);
}
.list-step li.done::before {
  background-color: #6d7882;
}
.list-step li:last-child::before {
  display: none;
}
.list-step li::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  outline: 0.1rem solid var(--gg-gray-20);
  outline-offset: -0.1rem;
  background-color: #e6e8ea;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.list-step li.done::after {
  outline: none;
  background-color: transparent;
  background-image: url("/images/content/step-done.svg");
}
.list-step li.active::after {
  outline: none;
  background-color: transparent;
  background-image: url("/images/content/step-active.svg");
}
.list-step li span {
  display: block;
}
.list-step li .step {
  color: var(--gg-gray-70);
  font-size: var(--gg-fz-b-xsm);
}
.list-step li .step-tit {
  margin-top: 0.2rem;
  color: var(--gg-gray-90);
  font-size: var(--gg-fz-xxsm);
  font-weight: 700;
}

@media (max-width: 767px) {
  .list-step li {
    min-width: auto;
    padding-top: 2rem;
    padding-right: 0;
    display: none;
  }
  .list-step li .step {
    display: none;
  }
  .list-step li .step-tit {
    display: none;
  }
}

/* 현재 단계 정보 */
.step-info-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.step-wrap .step-info {
  margin: 4rem 0 0.8rem;
}
.step-info {
  color: var(--gg-gray-70);
}
.step-info .step-current {
  color: var(--gg-primary-60);
  font-weight: 700;
}

.step-info-wrap h3 {
  font-size: var(--gg-fz-lg);
}

.step-info-wrap .desc {
  font-size: var(--gg-fz-b-lg);
  line-height: 1.5;
}

@media (max-width: 767px) {
  .step-wrap .step-info {
    margin: 3.2rem 0 0.8rem;
  }
}

/* 도움 박스
========================================================================== */
.helper-box {
  width: 100%;
  padding: var(--space-4) var(--space-5); 
  border-radius: 1.6rem;
  background-color: var(--gg-secondary-5); 
  border: .1rem solid var(--gg-secondary-10);
}

.helper-box .helper-tit {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--gg-secondary-80); 
}

.helper-box .helper-tit::before {
  content: "";
  display: inline-block;
  margin-right: var(--space-2); 
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("/images/ico/ico-helper-info.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* desc wrap margin 예시 */
.helper-box .helper-desc-wrap {
  margin-top: var(--space-3); 
  margin-left: var(--space-8);
}

.info-list {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-4);
  gap: var(--space-2);
}

.info-list > li {
  position: relative;
  padding-left: var(--space-6);
  color: #6B6B6B;
  font-size: 16px;
}

@media (max-width: 768px) {
  .info-list > li {
    font-size: var(--gg-fz-b-sm);
  }
}

/* 2depth */
.info-list > li > .info-list {
  gap: var(--space-2);
  margin-top: var(--space-3);
}

.info-list > li > .info-list > li {
  padding-left: var(--space-8);
  color: #6B6B6B;
  font-size: var(--gg-fz-b-sm);
}

@media (max-width: 768px) {
  .info-list > li > .info-list > li {
    font-size: var(--gg-fz-b-xsm);
  }
}

/* 3depth */
.info-list > li > .info-list > li > .info-list {
  margin-top: var(--space-2);
}

.info-list > li > .info-list > li > .info-list > li {
  padding-left: var(--space-10);
  color: #6B6B6B;
  font-size: var(--gg-fz-b-sm);
}

@media (max-width: 768px) {
  .info-list > li > .info-list > li > .info-list > li {
    font-size: 1.2rem;
  }
}

/* info-txt */
.info-list > li > .info-txt {
  margin-top: var(--space-2);
}

/* decimal */
.info-list.decimal > li::before {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #6B6B6B;
  border-radius: 50%;
  position: absolute;
  top: 0.9rem;
  left: 0.8rem;
}

/* dash */
.info-list.dash > li::before {
  content: "\002D";
}

/* hollow */
.info-list.hollow > li::before {
  content: "";
  display: inline-block;
  width: 6.4rem; 
  height: 6.4rem;
  border: 1.6px solid #6B6B6B;  
  border-radius: 50%;
  position: absolute;
  top: 0.95rem; 
  left: 0.8rem;
}

/* ordered */
.info-list.ordered > li::before {
  display: none;
}

.info-list.ordered > li .num {
  position: absolute;
  top: 0;
  left: 0;
}


/* 첨부파일
========================================================================== */
.file-list-wrap {
  margin-top: var(--space-6);
}
.file-list-wrap .file-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--space-6);
}
.file-list-wrap .file-list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-4);
  width: 100%;
  padding: var(--space-4);
  border: .1rem solid var(--gg-gray-20);
  border-radius: 0.8rem;
}
.file-list-wrap .file-list li .file-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.file-list-wrap .file-list li .file-info {
  margin-left: var(--space-1);
}
.file-list-wrap .file-list li .file-img:before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--space-2);
}
/* 첨부파일 아이콘 */
.file-list-wrap .file-list li .file-img.hwp::before {
  background-image: url("/images/ico/ico-file-hwp.svg");
}
.file-list-wrap .file-list li .file-img.ppt::before {
  background-image: url("/images/ico/ico-file-ppt.svg");
}
.file-list-wrap .file-list li .file-img.zip::before {
  background-image: url("/images/ico/ico-file-zip.svg");
}
.file-list-wrap .file-list li .file-img.xls::before {
  background-image: url("/images/ico/ico-file-xls.svg");
}
.file-list-wrap .file-list li .file-img.txt::before {
  background-image: url("/images/ico/ico-file-txt.svg");
}
.file-list-wrap .file-list li .file-img.video::before {
  background-image: url("/images/ico/ico-file-video.svg");
}
.file-list-wrap .file-list li .file-img.pdf::before {
  background-image: url("/images/ico/ico-file-pdf.svg");
}
.file-list-wrap .file-list li .file-img.img::before {
  background-image: url("/images/ico/ico-file-img.svg");
}
.file-list-wrap .file-list li .file-img.doc::before {
  background-image: url("/images/ico/ico-file-doc.svg");
}

@media (max-width: 767px) {
  .file-list-wrap .file-list li { 
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-3) var(--space-4);
    gap: var(--space-2);
    width: 100%;
  }
  .file-list-wrap .file-list li > div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

/* 첨부파일 업로드
========================================================================== */
.krds-file-upload {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;
}
.krds-file-upload.line {
  padding: var(--space-10);
  border: 0.1rem solid var(--gg-gray-30);
  border-radius: 1.2rem;
}
.krds-file-upload .file-head .tit {
  margin-bottom: var(--space-4);
  font-size: var(--gg-fz-sm);
}
.krds-file-upload .file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-10);
  width: 100%;
  padding: var(--space-16) var(--space-10);
  border-radius: 1.2rem;
  background-color: var(--gg-gray-10);
}
.krds-file-upload .file-upload .txt {
  font-size: 1.9rem;
  text-align: center;
}
.krds-file-upload .file-upload [type=file] {
  position: absolute !important;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.krds-file-upload .file-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--space-6);
  position: relative;
  width: 100%;
}
.krds-file-upload .file-list .total {
  padding: 0.3rem 0;
  font-weight: 700;
}
.krds-file-upload .file-list .total .current {
  color: var(--gg-primary-60);
}
.krds-file-upload .file-list .upload-list {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--space-5);
  width: 100%;
}