@charset "utf-8"; .gg-wrap { display: flex; flex-direction: column; min-height: 100vh; } 

.inner { width: 100%; max-width: 124.8rem; margin: 0 auto; padding: 0 2.4rem; } 
@media (min-width: 768px){
  .inner.narrow {max-width: calc(79.2rem + var(--space-6) *2);}
}

/* 모바일 font 대응 */
@media (max-width: 767px) {
  h1 { font-size: 28px !important; } /* 28px */
  h2 { font-size: 24px !important; } /* 24px */
  h3 { font-size: 22px !important; } /* 22px */
  h4 { font-size: 19px !important; } /* 19px */
}


/* header
=================================================================*/
/* 헤더 스크롤 sticky */
#gg-header { position: sticky; top: 0; left: 0; width: 100%; z-index: 100; background-color: #fff; transform: translateY(0); transition: transform 0.4s ease-in-out;}
body.scroll #gg-header { transform: translateY(-100%); /* 스크롤 시 숨겨지는 헤더 height */ } 
#gg-header.hide-skip .skip-top { display: none; } 

/* 상단 누리집 */
.gov-top-bar { position:relative; z-index: 61; background: var(--gg-secondary-5);} 
.gov-top-bar .txt { display: flex; align-items: center; width: 100%; height: 3.2rem; gap: var(--space-2); color: var(--gg-gray-70); font-size: var(--gg-fz-b-sm); } 
.gov-top-bar .txt::before { content: ""; display: block; width: 2.4rem; height: 2.4rem; background: url("./images/ico/ico-flag.svg") no-repeat 0 center; background-size: 2.2rem 2.2rem;} 

/* util */
.header-body .util { display: inline-flex; justify-content: flex-end; gap: var(--space-4); font-size: var(--gg-fz-b-sm); } 
.header-body .util .btn-txt { height: 4rem; align-items: center; padding: 0 1.2rem; color: var(--gg-gray-90); gap: var(--space-1); } 
.header-body .util button { display: inline-flex; align-items: center; gap: var(--space-1); margin: 0; padding: 1rem 1.2rem; color: var(--gg-gray-90); border: 0; background-color: transparent; border-radius: 0.4rem; transition: background-color 0.3s ease-in-out; } 
.header-body .util button:hover { background-color: var(--gg-secondary-5); } 
.header-body .util button:focus { outline: 0.2rem solid var(--gg-primary); outline-offset: -0.4rem; border-color: transparent; }
.header-body .util .text { white-space: nowrap; font-size: var(--gg-fz-b-md); font-weight: 700; } 
.header-body .m-util { display: none; } 

/* logo */
#gg-header .header-body { position: relative; width: 100%; border-bottom: 1px solid var(--gg-gray-20); } 
#gg-header .header-body .header-top { display: flex; justify-content: space-between; align-items: center; gap: 0 var(--space-8); width: 100%; max-width: 124.8rem; margin: 0 auto; padding: var(--space-8) var(--space-6); } 
#gg-header .header-body h2.logo { position: relative; width: 26.3rem; height: 3.2rem; margin: 0; padding: 0; background: url("./images/layout/slogan.svg") no-repeat center; background-size: 100% auto; cursor: pointer; } 
#gg-header .header-body h2.logo a { display: block; width: 100%; height: 100%; } 
#gg-header .header-body h2.logo a:focus  { outline-offset: .1rem; outline:0.2rem solid var(--gg-primary); border-color:transparent;  }

/* header search bar */
.search-container { position: relative; } 
/* 애니메이션 적용 */ 
.search-container .search-wrapper { position: relative; border-radius: 50px; padding: 3px; /* background: linear-gradient(90deg, #256ef4, #68c05d, #063a74); */
  background: linear-gradient( 90deg, #256ef4, #3d9de5, #68c05d, #3d9de5, #1a4d9b, #063a74,#256ef4); background-size: 300% 100%; animation: gradientFlow 4s linear infinite; } 
.search-container .search-wrapper.focus { background: var(--gg-primary); } 
.search-container .search-wrapper.error { background: var(--gg-danger); } 
@keyframes gradientFlow { 
  0% { background-position: 0% 50%; } 100% { background-position: 300% 50%; } 
  }

.search-container .search-wrapper .search-box { position: relative; display: flex; align-items: center; min-width: 72rem; height: 7.2rem; background: #fff; border-radius: 5rem; padding: var(--space-5) var(--space-8); gap: var(--space-3); box-sizing: border-box; } 
.search-container .search-wrapper .search-input { flex: 1; background: transparent; border: none; outline: none; font-size: var(--gg-fz-md); font-family: inherit; } 
.search-container .search-wrapper .search-input:focus { outline-offset: .1rem;  outline: 0.2rem solid var(--gg-primary); border-color: transparent; }
.search-container .search-wrapper .clear-btn { width: 20px; height: 20px; border-radius: 50%; background: #cdd1d5; border: none; color: #33363d; cursor: pointer; visibility: hidden; display: flex; align-items: center; justify-content: center; transition: all 0.2s; flex-shrink: 0; } 
.search-container .search-wrapper .clear-btn:hover { background: #3a3a3a; color: #fff; } 
.search-container .search-wrapper .clear-btn.show { visibility: visible; } 
.search-container .search-wrapper.focused { animation: gradientFlow 2s linear infinite; } 

.search-container .search-wrapper .form-select:after { content: "|"; } 
.search-container .search-wrapper .btn-ai-search { border-radius:30rem; min-width: 80px !important; min-height: 24px; padding: var(--space-2) var(--space-3); justify-content: center; align-items: center; background: var(--gg-primary); color: #fff; font-size: var(--gg-fz-b-sm); white-space: nowrap; } 
.btn-txt.ico-ai-search::after,
.btn-txt.ico-ai-search::before { background-image: url("./images/ico/ico-ai-search.svg"); } 
.btn-txt.ico-ai-search:hover { cursor: pointer; } 

/* 전체메뉴 팝업 */
.all-menu-alert .modal-dialog { width: 120rem; max-width: 90% !important;}
.all-menu-alert .modal-dialog .modal-body { margin-top: var(--space-6) !important;}
.all-menu-alert .box { display: flex; flex-direction: column; gap: var(--space-4);}
.all-menu-alert .box .mn { font-size: var(--gg-fz-md); font-weight: 700; line-break: 2.6;}
.all-menu-alert .box .mn-list { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: var(--space-14); }
.all-menu-alert .box .mn-list > li { display: flex; flex-direction: column; gap: var(--space-4); width: 100%;}

.all-menu-alert .box .subm{ font-size: var(--gg-fz-b-lg); font-weight: 700; }
.all-menu-alert .box .sub-list { border-top: .1rem solid var(--gg-gray-30); width: 100%; padding-top: var(--space-4); box-sizing: border-box;}
.all-menu-alert .box .sub-list a { display: inline-block; padding: var(--space-2); line-height: 1.5; background-color: transparent; width: 100%; border-radius: .4rem; transition: background-color 0.3s ease-in-out; color: var(--gg-gray-90); word-break: break-all;}
.all-menu-alert .box .sub-list a::before { margin-top: 0.1rem; margin-right: .5rem; content: "･"; line-height: 2.6rem; }
.all-menu-alert .box .sub-list a:hover { background-color: var(--gg-secondary-5);}

/* 태블릿 헤더 */
@media (max-width: 1024px){
  #gg-header .gnb .gnb-list .li .mn { font-size: var(--gg-fz-b-md) !important; }
  #gg-header .gnb .my-info .li button { font-size: var(--gg-fz-b-md) !important; }
  .search-container .search-wrapper .search-box { min-width: 45rem !important; max-width: 60rem !important; } 
  .search-container .search-wrapper .search-box .form-select { border: 0; font-size: var(--gg-fz-sm); } 
  .search-container .search-wrapper .search-input { font-size: var(--gg-fz-sm); width: 70%; } 

  .all-menu-alert .box .mn-list { gap: var(--space-6) !important;}
}

/* 모바일 헤더 */
@media (max-width: 767px){
  body { transform: none !important; }
  #gg-header { position: static; transform: none;}
  #gg-header .gov-top-bar .txt::before { background-size: 2.0rem 2.0rem !important;}
  #gg-header .header-body .header-top { padding: var(--space-2) var(--space-6);}
  .search-container { display: none !important; } 
  #gg-header .header-body h2.logo { width: 16rem; } 

  .header-body .util { display: none; } 
  .header-body .m-util { display: inline-flex; justify-content: flex-end; gap: var(--space-4); font-size: var(--gg-fz-b-sm); } 
  .header-body .m-util .btn-txt { height: 4rem; align-items: center; padding: 0 1.2rem; color: var(--gg-gray-90); gap: var(--space-1); } 
  .header-body .m-util button { display: inline-flex; align-items: center; gap: var(--space-1); margin: 0; padding: 1rem 1.2rem; color: var(--gg-gray-90); border: 0; background-color: transparent; border-radius: 0.4rem; transition: background-color 0.3s ease-in-out; } 
  .header-body .m-util button:hover { background-color: var(--gg-secondary-5); } 
  .header-body .m-util .text { white-space: nowrap; font-size: var(--gg-fz-b-md); font-weight: 700; } 
  .gnb { display: none; } 
  .page-content {margin-top: var(--space-6) !important;}

  .is-m-lnb { overflow:hidden; }
  #gg-header .m-lnb-wrap { display: block !important;}

  /* 전체메뉴 팝업 제거 */
  .all-menu-alert { display: none !important;}
}


/* gnb */
/* 2 depth 메뉴 gnb */
#gg-header .gnb { border-top: 0.1rem solid var(--gg-gray-20); background-color: #fff; } 
#gg-header .gnb .wrap { margin: 0 auto; width: 100%; max-width: 124.8rem; padding: 0 var(--space-6); } 
#gg-header .gnb .gnb-list { display: flex; align-items: flex-start; justify-content: flex-start; flex-direction: row; gap: var(--space-4); } 
#gg-header .gnb .gnb-list .li a,
#gg-header .gnb .gnb-list .li button { display: flex; align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--space-2); white-space: nowrap; } 
#gg-header .gnb .gnb-list .li .mn { position: relative; height: 5.6rem; padding: 0 var(--space-4); color: #464c53; font-size: var(--gg-fz-b-lg); font-weight: 700; line-height: 1.1; text-align: left; transition: 0.4s ease-in-out; } 
#gg-header .gnb .gnb-list .li .mn:before { display: inline-flex; content: ""; position: absolute; bottom: 0; left: 50%; width: 0; height: 0.4rem; background-color: #063a74; transition: 0.4s ease-in-out; } 
#gg-header .gnb .gnb-list .li .mn:after { display: inline-flex; width: 2rem; height: 2rem; background: url(/images/ico/ico-arrow-down.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 
#gg-header .gnb .gnb-list .li .mn:focus { outline-offset: -0.2rem; outline: 0.2rem solid var(--gg-primary); transition-duration: 0s; } 
#gg-header .gnb .gnb-list .li .mn.active { transition-duration: 0s; } 
#gg-header .gnb .gnb-list .li .mn.active:before { left: 0; width: 100%; } 
#gg-header .gnb .gnb-list .li .mn.active:after { transform: rotate(-180deg); } 
#gg-header .gnb .gnb-list .li .mn:hover { background-color: var(--gg-secondary-5); } 
#gg-header .gnb .gnb-list .li .mn:active { color: #1e2124; background-color: #d6e0eb; transition-duration: 0s; } 
#gg-header .gnb .gnb-list .li .mn-link:after { display: none; } 
#gg-header .gnb .gnb-list .li .mn-link[target="_blank"]:after { display: block; background-image: url(../../img/component/ico_go_20.svg); } 
#gg-header .gnb .gnb-list .li .mn-link[target="_blank"]:not(.active):hover:after { background-image: url(../../img/component/ico_go_20_on.svg); } 
#gg-header .w-gnb-wrap { display: none; position: absolute; top: calc(100% + 0.1rem); left: 0; width: 100%; background-color: #fff; } 
#gg-header .w-gnb-wrap .ico-close { position: absolute; top: 1.6rem; right: 1.6rem; width: 3.2rem; height: 3.2rem; /*background-image: url(../../img/component/ico_close_24.svg);*/ } 
#gg-header .w-gnb-wrap .w-gnb-menu { overflow-x: hidden; overflow-y: auto; position: relative; max-height: calc(100vh - 24rem); background-color: var(--gg-secondary-5); } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap { display: flex; position: relative; top: 0; left: 0; padding: var(--space-4) 0; align-items: normal; justify-content: flex-start; flex-direction: column; gap: var(--space-4); } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm { display: flex; width: 26rem; height: 5.6rem; padding: 0 var(--space-6); text-align: left; line-height: 1.3; align-items: center; justify-content: space-between; flex-direction: row; gap: var(--space-2); color: #1e2124; transition: 0.4s ease-in-out; } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm:hover { background-color: #fff; font-weight: 700; color: #052b57; } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm.active { background-color: #fff; font-weight: 700; color: #052b57; } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul button.sm:after { display: inline-flex; flex-shrink: 0; width: 2rem; height: 2rem; background-image: url(/images/ico/ico-arrow-right.svg); content: ""; margin-bottom: 0.5rem; } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm:focus   { outline: 0.2rem solid rgba(36, 107, 235, 0.8); outline-offset: -0.4rem;}

#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm.ico-go,
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm[target="_blank"] { justify-content: left; } 
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm.ico-go:after,
#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm[target="_blank"]:after { display: inline-flex; width: 2rem; height: 2rem; background-image: url(/images/ico/ico_go_20.svg); content: ""; } 

#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .sub-ban { padding: 0 var(--space-4); } 

#gg-header .w-gnb-wrap .w-gnb-menu .menu-wrap .sub-ban .ban-in { display: flex; padding: var(--space-4); border-radius: 0.8rem; background-color: #fff; align-items: flex-start; justify-content: flex-start; flex-direction: column; gap: var(--space-2); } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap { display: none; padding: var(--space-4) var(--space-10); background-color: #fff; position: absolute; top: 0; left: 26rem; right: 0; min-height: 100%; } 
#gg-header .w-gnb-wrap .w-gnb-menu .sm.active + .submenu-wrap { display: flex; align-items: normal; justify-content: flex-start; flex-direction: column; gap: var(--space-6); } 
#gg-header .w-gnb-wrap .w-gnb-menu .sm.active + .submenu-wrap.between { display: flex; height: 100%; padding-right: 0; align-items: normal; justify-content: flex-start; flex-direction: row; } 
#gg-header .w-gnb-wrap .w-gnb-menu .sm.active + .submenu-wrap.between .sub-ban { display: flex; width: 26.2rem; padding: var(--space-6); align-items: flex-start; justify-content: flex-start; flex-direction: column; gap: var(--space-2); } 
#gg-header .w-gnb-wrap .w-gnb-menu .sm.active + .submenu-wrap.between .sub-ul { grid-template-columns: 1fr 1fr 1fr; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit { display: flex; height: 5.6rem; font-size: var(--gg-fz-md); font-weight: 700; line-height: 5.6rem; align-items: flex-start; justify-content: center; flex-direction: column; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit a.btn-txt:hover { text-decoration: none; cursor: pointer; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit .btn-txt { display: inline-flex; padding: 0 var(--space-2) !important; font-size: var(--gg-fz-md); font-weight: 700; gap: var(--space-4); } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit .btn-txt:after { content: "바로가기"; text-decoration: underline !important; font-size: 1.5rem; font-weight: 400; width: auto; padding-right: 2rem; line-height: 2.4rem; background-position: right 0.3rem; background-size: 1.7rem; text-underline-offset: 0.3rem; transition: 0.4s ease-in-out; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit .btn-txt.ico-arr-right::after,.btn-txt.ico-arr-right::before { background-image: url("./images/ico/ico-arrow-right.svg"); } 

#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit p.btn-txt:hover,
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit p.btn-txt:focus { outline: 0.2rem solid var(--gg-primary); outline-offset: -0.4rem; background-color: transparent;  cursor: default; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit .btn-txt:hover { background-color: transparent; color: inherit; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit .btn-txt.ico-arr-right:hover::after { color: #0b50d0; background-image: url("./images/ico/ico-arrow-right-blue.svg"); text-decoration: none; }; #gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-in { display: flex; align-items: normal; justify-content: flex-start; flex-direction: column; flex: 1; gap: var(--space-4); } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 0 var(--space-8); } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a { display: flex; padding: 1rem 0.8rem; border-radius: 0.8rem; line-height: 1.5; align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--space-1); transition: 0.4s ease-in-out; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a:before { margin-top: 0.1rem; content: "･"; line-height: 2.6rem; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a:hover { background-color: var(--gg-secondary-5); } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a:active { background-color: #d6e0eb; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a:focus { outline: 0.2rem solid var(--gg-primary); outline-offset: -0.4rem;  transition-duration: 0.3s;} 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul li a.active { background-color: var(--gg-secondary-5); color: #052b57; font-weight: 700; } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a[disabled] { border-color: var(--gg-gray-40); background-color: var(--gg-gray-30); color: var(--gg-gray-60); } 
#gg-header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a[target="_blank"]:after { content: ""; display: inline-flex; width: 1.9rem; height: 1.9rem; background: url(/images/ico/ico-open-new-window.svg) no-repeat center / 1.6rem; } 

#gg-header .w-gnb-wrap.is-open { display: block; } 

/* gnb */
/* 마이페이지 / 로그인 */
#gg-header .gnb .my-info { display: flex; justify-content: flex-end; align-items: center; flex-direction: row; } 
#gg-header .gnb .my-info .li { position: relative; display: flex; justify-content: center; align-items: center; font-weight: bold; color: var(--gg-gray-70); white-space: nowrap; } 
#gg-header .gnb .my-info .li::before { display: block; position: absolute; right: 0; top: calc(50% - 0.8rem); content: ''; width: 0.1rem; height: 1.6rem; background-color: var(--gg-gray-20); } 
#gg-header .gnb .my-info .li:last-child::before { content: none; } 
#gg-header .gnb .my-info .li button { display: flex; align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--space-2); } 
#gg-header .gnb .my-info .li button { position: relative; height: 5.6rem; padding: 0 var(--space-4); color: #464c53; font-size: var(--gg-fz-b-lg); font-weight: 700; line-height: 1.1; text-align: left; transition: 0.4s ease-in-out; } 
#gg-header .gnb .my-info .li button::after { display: inline-flex; content: ""; position: absolute; bottom: 0; left: 50%; width: 0; height: 0.4rem; background-color: #063a74; transition: 0.4s ease-in-out; } 
#gg-header .gnb .my-info .li button::before { display: inline-flex; width: 2rem; height: 2rem; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 
#gg-header .gnb .my-info .li button:focus { outline-offset: -0.2rem; outline: 0.2rem solid var(--gg-primary); transition-duration: 0.3s; } 
#gg-header .gnb .my-info .li button.active { transition-duration: 0s; } 
#gg-header .gnb .my-info .li button:hover { background-color: var(--gg-secondary-5); } 
#gg-header .gnb .my-info .li button:active { color: #1e2124; background-color: #d6e0eb; transition-duration: 0s; } 

/* 마이페이지 / 로그인 이미지 */
#gg-header .gnb .my-info .li .mn-mypage::before { display: inline-flex; width: 2rem; height: 2rem; background: url(/images/ico/ico-mypage.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 
#gg-header .gnb .my-info .li .mn-login::before { display: inline-flex; width: 2rem; height: 2rem; background: url(/images/ico/ico-login.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 
#gg-header .gnb .my-info .li .mn-logout::before { display: inline-flex; width: 2rem; height: 2rem; background: url(/images/ico/ico-logout.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 
#gg-header .gnb .my-info .li .mn-join::before { display: inline-flex; width: 2rem; height: 2rem; background: url(/images/ico/ico-join.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 


/* dropdown */
.drop-wrap { display: inline-flex; position: relative; } 
.drop-wrap .drop-menu { display: none; position: absolute; top: 70%; left: 50%; z-index: 6; min-width: 13rem; margin-top: var(--space-4); padding: var(--space-2); border: 0.1rem solid var(--gg-gray-20); border-radius: 0.8rem; background-color: #fff; box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.12); transform: translateX(-50%); } 
.drop-wrap .drop-menu:before { display: inline-flex; position: absolute; left: 50%; bottom: 100%; width: 2rem; height: 1.2rem; background-image: url(/images/ico/ico-drop-arr.svg); content: ""; transform: translateX(-50%); } 
.drop-wrap .drop-menu .drop-in { display: flex; align-items: flex-start; justify-content: flex-start; flex-direction: column; gap: var(--space-2); } 
.drop-wrap .drop-menu .drop-top { width: 100%; padding: var(--space-2) var(--space-4); border-bottom: 0.1rem solid var(--gg-gray-30); font-size: var(--gg-fz-b-lg); color: var(--gg-gray-90); } 
.drop-wrap .drop-menu .drop-btm-btn { display: flex; width: 100%; padding: var(--space-2) 0 0; border-top: 0.1rem solid var(--gg-gray-20); align-items: flex-start; justify-content: center; flex-direction: row; font-weight: 400; } 
.drop-wrap .drop-menu .drop-btm-btn .btn { flex: 1; } 
.drop-wrap .drop-menu .drop-list { width: 100%; } 
.drop-wrap .drop-menu .drop-list .item-link { display: flex; width: 100%; height: 4.8rem; padding: var(--space-2) var(--space-4); border-radius: 0.6rem; font-size: var(--gg-fz-b-md); font-weight: 400; align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--space-2); } 
.drop-wrap .drop-menu .drop-list .item-link.ico-go:after { display: inline-flex; width: 1.6rem; height: 1.6rem; } 
.drop-wrap .drop-menu .drop-list .item-link:hover { background-color: var(--gg-secondary-5); transition: 0.3s ease-in-out; } 
.drop-wrap .drop-menu .drop-list .item-link:active { background-color: var(--gg-secondary-10); } 

.drop-wrap.is-open .drop-menu { display: block; } 

/* 모바일 */
#gg-header .m-lnb-wrap { display: none; position: fixed; top: 0; right: -100%; z-index: 100; width: 100%; height: 100%; transition: right ease 0.5s 0.1s;} 
#gg-header .m-lnb-wrap:after { display: none; position: fixed; top: 0; right: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); content: ""; transition: opacity 0.5s 0.1s; } 
#gg-header .m-lnb-wrap .m-lnb-in { display: flex; position: absolute; top: 0; right: 0; z-index: 5; width: 100%; height: 100%; background-color: #fff; align-items: normal; justify-content: flex-start; flex-direction: column; } 
#gg-header .m-lnb-wrap .ico-close { width: 2.4rem; height: 2.4rem; background-image: url(/images/ico/ico-close.svg);} 
#gg-header .m-lnb-wrap .m-lnb-head { display: flex; position: sticky; top: 0; left: 0; z-index: 2; padding: var(--space-5) var(--space-4) var(--space-4); align-items: normal; justify-content: flex-start; flex-direction: column; gap: var(--space-4); font-size: var(--gg-fz-b-lg); font-weight: 700;} 
#gg-header .m-lnb-wrap .m-lnb-head .name > span{ color: var(--gg-secondary-80);}
#gg-header .m-lnb-wrap .m-lnb-body { display: flex; border-top: 0.1rem solid var(--gg-gray-20); align-items: normal; justify-content: flex-start; flex-direction: column; flex: 1; overflow-x: hidden; overflow-y: auto; scroll-behavior: smooth; } 
#gg-header .m-lnb-wrap .m-lnb-body.type1 { border: 0; } 
#gg-header .m-lnb-wrap .m-lnb-body-btm { display: flex; padding: var(--space-4) var(--space-6); border-top: 0.1rem solid var(--gg-gray-20); align-items: flex-start; justify-content: flex-start; flex-direction: column; gap: var(--space-2); } 
#gg-header .m-lnb-wrap .m-lnb-top-etc { display: flex; align-items: flex-start; justify-content: flex-end; flex-direction: row; } 
#gg-header .m-lnb-wrap .m-lnb-top-etc .etc-ul { display: flex; } 
#gg-header .m-lnb-wrap .m-lnb-top-etc .etc-ul li { display: flex; align-items: center; justify-content: flex-start; flex-direction: row; } 
#gg-header .m-lnb-wrap .m-lnb-top-etc .etc-ul > li:not(:first-child) { margin-left: var(--space-4); } 
#gg-header .m-lnb-wrap .m-lnb-top-etc .etc-ul > li:not(:first-child):before { display: inline-flex; width: 0.1rem; height: 1.6rem; margin-right: var(--space-4); background-color: var(--gg-gray-30); content: ""; } 

#gg-header .m-lnb-wrap .m-lnb-menu { display: flex; position: relative; background-color: var(--gg-secondary-5); } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap { display: flex; position: relative; top: 0; left: 0; width: 12.4rem; align-items: flex-start; justify-content: flex-start; flex-direction: column; } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap .ul { position: sticky; top: 0; left: 0; z-index: 1; width: 100%; } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap .mn { display: flex; position: relative; z-index: 1; width: 100%; height: 6.4rem; padding: 0 var(--space-4); font-weight: 700; align-items: center; justify-content: flex-start; flex-direction: row; } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap .mn.active { background-color: #fff; color: var(--gg-secondary-80); } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap .mn.active:before { position: absolute; top: 0; right: -0.1rem; width: 0.1rem; height: 100%; background-color: #fff; content: ""; } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap .mn[target="_blank"] { padding-right: 3rem; word-break: break-all; } 
#gg-header .m-lnb-wrap .m-lnb-menu .menu-wrap .mn[target="_blank"]:after { width: 1.8rem; height: 1.8rem; margin: -0.2rem 0 0 0.6rem; background: url(/images/ico/ico_go_20.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.25s ease-in-out; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap { display: flex; width: calc(100% - 12.4rem); border-left: 0.1rem solid var(--gg-gray-20); background-color: #fff; align-items: normal; justify-content: flex-start; flex-direction: column; flex: 1; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl { padding: 0 var(--space-4) var(--space-4) var(--space-4); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl:not(:first-child) { border-top: 0.1rem solid var(--gg-gray-20); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl dt { display: flex; position: relative; height: 6.4rem; margin-bottom: var(--space-2); border-bottom: 0.1rem solid var(--gg-gray-20); font-weight: 700; align-items: center; justify-content: flex-start; flex-direction: row; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sm { display: flex; padding: var(--space-4) var(--space-2); border-radius: 0.8rem; align-items: center; justify-content: flex-start; flex-direction: row; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sm:hover { background-color: var(--gg-secondary-5); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sm:active,
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sm.active { border-radius: var(--gg-rd-6); background-color: var(--gg-secondary-5); transition: 0.4s ease-in-out; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sm[target="_blank"]:after { width: 1.8rem; height: 1.8rem; margin: -0.2rem 0 0 0.6rem; background: url(../../img/component/ico_go_20.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.25s ease-in-out; } 

#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul { display: flex; align-items: normal; justify-content: flex-start; flex-direction: column; gap: var(--space-2); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm { display: flex; padding: 1.1rem var(--space-4); border-radius: 0.8rem; justify-content: flex-start; flex-direction: row; gap: var(--space-1); text-align: left; word-break: keep-all;} 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm:before { content: "•"; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm:hover { background-color: var(--gg-secondary-5); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm:active,
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm.active { transition: 0.4s ease-in-out; color: var(--gg-secondary); font-weight: 700; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm[target="_blank"]:after { flex-shrink: 0; width: 1.8rem; height: 2.5rem; margin: 0 0 0 0.4rem; background: url(../../img/component/ico_go_20.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.25s ease-in-out; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm.is-depth4 { width: 100%; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .dl .sub-ul .subm.is-depth4:after { display: inline-flex; flex-shrink: 0; width: 2.4rem; height: 2.4rem; margin-left: auto; background: url(../../img/component/ico_arr_16_down.svg) no-repeat center; background-size: contain; content: ""; } 

#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap { display: none; position: fixed; top: 0; right: -100%; z-index: 10; width: 100%; height: 100%; background-color: #fff; transition: 0.4s ease-in-out; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-head { display: flex; width: 100%; height: 6.4rem; padding: var(--space-5) var(--space-6); font-weight: 700; align-items: normal; justify-content: space-between; flex-direction: row; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-head .ico-prev { display: inline-flex; width: 2.4rem; height: 2.4rem; background-image: url(../../img/layout/gnb_ico_prev.svg); background-repeat: no-repeat; background-size: contain; content: ""; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body dt { height: 6.4rem; margin: 0; padding: 0 var(--space-6); border: 0; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul { display: flex; padding: 0 var(--space-6); align-items: normal; justify-content: flex-start; flex-direction: column; gap: var(--space-2); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a { display: flex; height: 4.8rem; padding: var(--space-3) var(--space-4); border-radius: 0.8rem; align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--space-1); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a:before { content: "•"; font-weight: 400; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a:hover { background-color: var(--gg-secondary-5); color: var(--gg-secondary); font-weight: 700; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a:active,
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a.active { border-radius: var(--gg-rd-6); background-color: var(--gg-secondary-5); transition: 0.4s ease-in-out; color: var(--gg-secondary); font-weight: 700; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a[target="_blank"]:after { width: 1.8rem; height: 1.8rem; margin: -0.2rem 0 0 0.4rem; background: url(../../img/component/ico_go_20.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.25s ease-in-out; } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap .depth4-body .depth4-ul a[target="_blank"]:hover:after { background-image: url(../../img/component/ico_go_20_on.svg); } 
#gg-header .m-lnb-wrap .m-lnb-menu .submenu-wrap .depth4-wrap.is-open { display: block; right: 0; } 

#gg-header .m-lnb-wrap .m-lnb-menu.type1 { display: flex; background-color: #fff; align-items: normal; justify-content: flex-start; flex-direction: column; } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl { padding: var(--space-4) 0; } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl:not(:last-child) { border-bottom: 0.4rem solid var(--gg-gray-20); } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl .dt { height: 5.6rem; padding: 0 var(--space-6); font-size: var(--gg-fz-body-lg); } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl .sm { padding: 0 var(--space-6); } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl .subm { padding: var(--space-3) var(--space-10); } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl .depth4-wrap a { padding: var(--space-3) var(--space-4); } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl .sub-ban { padding: var(--space-4) var(--space-6) 0; } 
#gg-header .m-lnb-wrap .m-lnb-menu.type1 .submenu-wrap .dl .sub-ban .ban-in { display: flex; padding: 0 var(--space-4); border-radius: 0.8rem; background-color: var(--gg-gray-5); align-items: center; justify-content: flex-start; flex-direction: row; gap: var(--space-2); } 
#gg-header .m-lnb-wrap .m-lnb-in.type1.is-active .m-lnb-head { padding-bottom: 0; } 
#gg-header .m-lnb-wrap .m-lnb-in.type1.is-active .m-lnb-top-scroll { display: block; } 
#gg-header .m-lnb-wrap .m-lnb-in.type1 .m-lnb-head { border-bottom: 0.4rem solid var(--gg-gray-20); } 
#gg-header .m-lnb-wrap .m-lnb-top-scroll { display: none; overflow: hidden; height: 0; } 
#gg-header .m-lnb-wrap .sch-input + .menu-hori { margin-top: var(--space-6); } 
#gg-header .m-lnb-wrap .menu-hori { overflow: hidden; margin: 0 -2.4rem; padding: 0 var(--space-6); } 
#gg-header .m-lnb-wrap .menu-hori .ul { display: flex; position: relative; padding-bottom: var(--space-4); align-items: flex-start; justify-content: flex-start; flex-direction: row; gap: var(--space-2); overflow-x: auto; scroll-behavior: smooth; } 
#gg-header .m-lnb-wrap .menu-hori .ul .mn { display: flex; height: 3.6rem; padding: 0 var(--space-3); border-radius: 0.6rem; background-color: var(--gg-gray-10); font-weight: 400; align-items: center; justify-content: flex-start; flex-direction: row; } 
#gg-header .m-lnb-wrap .menu-hori .ul .mn.active { background-color: var(--gg-secondary-10); } 

#gg-header .m-lnb-wrap.is-open { right: 0; } 
#gg-header .m-lnb-wrap.is-open:after { display: block; opacity: 1; } 
#gg-header .m-lnb-wrap.is-close:after { display: block; opacity: 0; } 

/* dimmed */
.gnb-backdrop { display: none; position: fixed; top: 0; right: 0; z-index: 60; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); } 
.gnb-backdrop.is-active { display: block; } 


/* footer
=================================================================*/
#gg-footer { position: relative; z-index: 50; background-color: var(--gg-gray-5); } 
#gg-footer > .wrap { display: flex; flex-direction: column; width: 100%; max-width: 124.8rem; margin: 0 auto; padding: var(--space-10) var(--space-6) var(--space-12); gap: var(--space-8); } 
#gg-footer .footer-logo { font-size: 2.6rem; font-family: "Gyeonggi"; color: #575756; } 
#gg-footer .footer-contents { display: flex; justify-content: space-between; flex: 1; gap: var(--space-6); } 
#gg-footer .footer-contents .footer-info { display: flex; padding-bottom: var(--space-2); align-items: normal; justify-content: flex-start; flex-direction: column; flex: 1; gap: var(--space-4); } 
#gg-footer .footer-contents .footer-info .call { display: flex; flex-direction: column; gap: var(--space-6); } 
#gg-footer .footer-contents .footer-info .call .bold { font-weight: 700; } 
#gg-footer .footer-contents .footer-info .call span:nth-child(2)::after { content: ""; display: inline-block; width: 1px; height: 12px; margin: 0 0.2rem; background-color: var(--gg-gray-50); } 
#gg-footer .footer-contents .footer-link { display: flex; flex-direction: column; flex-shrink: 0; gap: var(--space-10); padding-right: 5rem; box-sizing: border-box; } 
#gg-footer .footer-contents .footer-link .link-go { display: flex; flex-direction: column; align-items: flex-start; flex: 1; gap: var(--space-2); } 
#gg-footer .footer-contents .footer-link .sns { display: flex; gap: 0 0.8rem; } 
#gg-footer .footer-contents .footer-link .sns a { width: 4rem; height: 4rem; border-radius: 100%; border: 1px solid var(--gg-gray-20); background-size: 2.4rem; } 
#gg-footer .footer-bottom { display: flex; padding-top: var(--space-2); border-top: 0.1rem solid var(--gg-gray-20); flex-direction: column; gap: var(--space-6); } 
#gg-footer .footer-bottom .footer-bottom-text { display: flex; justify-content: space-between; align-items: center; gap: var(--space-4); font-size: var(--gg-fz-b-sm); font-weight: 400; } 
#gg-footer .footer-bottom .footer-bottom-text .fnb { display: inline-flex; flex-wrap: wrap; } 
#gg-footer .footer-bottom .footer-bottom-text .fnb a { display: inline-flex; height: 4rem; padding: 0 1rem; align-items: center; } 
#gg-footer .footer-bottom .footer-bottom-text .fnb a:first-child { padding-left: 0; } 
#gg-footer .footer-bottom .footer-bottom-text .fnb a.point { color: var(--gg-secondary-80); font-weight: 700; } 
#gg-footer .footer-contents .footer-link .link-go a:after { display: inline-flex; width: 2rem; height: 2rem; background: url(/images/ico/ico-arrow-right.svg) no-repeat center; background-size: contain; content: ""; transition: transform 0.4s ease-in-out; } 
#gg-footer .footer-bottom .footer-bottom-text .copy { color: var(--gg-gray-70); } 

/* 패밀리사이트 */
.footer-related { background-color: #fff; border: .1rem solid var(--gg-gray-20); } 
.footer-related > .wrap { display: flex; flex-direction: column; width: 100%; max-width: 124.8rem; margin: 0 auto; padding: 0 var(--space-6); } 
.footer-related > .wrap .footer-related-list { display: flex; flex-wrap: wrap; position: relative; border-width: 0.1rem 0 } 
.footer-related > .wrap .footer-related-list > li { flex-shrink: 0; width: 25%; border-right: .1rem solid var(--gg-gray-20); border-width: 0 0.1rem; } 
.footer-related > .wrap .footer-related-list > li:first-child { border-left: .1rem solid var(--gg-gray-20); } 
.footer-related > .wrap .footer-related-list > li .btn-related { display: block; width: 100%; height: 5.4rem; margin:0; padding: 0 5.2rem 0 2.4rem; text-align: left; color: var(--gg-gray-90); border: 0; background: url("./images/ico/ico-size.svg") no-repeat right 2.4rem center; } 

.footer-related.is-active { display: block }; /* 패밀리사이트 레이어 */
.related-layer { position:absolute; z-index:10; } 
.related-layer .related-dialog { position:relative; padding:2.4rem; border-radius:1.2rem; border:1px solid var(--gg-gray-30); box-shadow:0 16px 24px 0px rgba(0, 0, 0, 0.12); background-color:#fff; } 
.related-layer .related-dialog .related-header { padding:0 3.2rem 0 0; } 
.related-layer .related-dialog .related-header .related-title { font-size:2.4rem; font-weight:700; color:var(--gg-gray-90); } 
.related-layer .related-dialog .btn-close-related { position:absolute; right:2.4rem; top:2.5rem; } 
.related-layer.on { display:block; } 

.related-layer.footer-channel { display: none; position: absolute; bottom: 6rem; left:0; width: 100%; } 
.footer-channel.lp-open { display: block; } 

.related-layer .related-dialog .related-body .footer-channel-list { display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; /* 간격 */ gap: var(--space-3); } 
.related-layer .related-dialog .related-body .footer-channel-list li { transition: .3 sease-in-out; } 
.related-layer .related-dialog .related-body .footer-channel-list li a { width:100%; display: flex; flex-direction: row; gap: var(--space-1); box-sizing: border-box; border-radius: .8rem; padding: var(--space-3) var(--space-2); transition: .3s ease-in-out; } 
.related-layer .related-dialog .related-body .footer-channel-list li a:hover { background-color: var(--gg-secondary-5); } 
.related-layer .related-dialog .related-body .footer-channel-list li a::before { margin-top: 0.1rem; content: "･"; line-height: 2.6rem; } 


/* footer 모바일 */
@media (max-width: 767px){
  #gg-footer .footer-contents { flex-direction: column; gap: var(--space-8); font-size: var(--gg-fz-b-sm); } 
  #gg-footer .footer-bottom { flex-direction: column; padding-top: var(--space-8); } 
  #gg-footer .footer-bottom .footer-bottom-text { flex-direction: column; align-items: normal; font-size: var(--gg-fz-b-sm); } 
  #gg-footer .footer-bottom .footer-bottom-text .fnb a { height: auto; } 

  .footer-related { border-right: 0; border-left: 0; } 
  .footer-related > .wrap { padding: 0; } 
  .footer-related > .wrap .footer-related-list > li { width: 100%; border-bottom: .1rem solid var(--gg-gray-20); } 
  .footer-related > .wrap .footer-related-list > li:last-child { border-bottom: 0; } 
  .related-layer .related-dialog .related-body .footer-channel-list {grid-template-columns: repeat(1, 1fr);}

}

/* 기본 스타일 예시 */
.layer-popup { position: fixed; inset: 0; display: none; align-items: center; justify-content: center; z-index: 1000; } 
.layer-popup.lp-open { display: flex; } 
.layer-popup .lp-panel { position: relative; background: #fff; z-index: 1; padding: 20px; border-radius: 8px; } 



/* content
=================================================================*/
/* 페이지별 헤더 영역 */
.container { margin-bottom: 10rem; } 

.page-header .inner { margin: 2.4rem auto 0 auto; } 

/* breadcrumb */
.breadcrumb-wrap { display: flex; width: 100%; max-width: 124.8rem; } 
.breadcrumb-wrap .breadcrumb { width: inherit; } 
.breadcrumb-wrap .breadcrumb ul { display: flex; list-style-type: none; gap: 0; margin: 0; padding: 0; } 
.breadcrumb-wrap .breadcrumb ul li { position: relative; display: flex; align-items: center; line-height: 2.6rem; margin: 0; padding: 0 0 0 0.4rem; } 
.breadcrumb-wrap .breadcrumb ul li .txt { display: inline-block; height: 2.4rem; padding: 0 0.4rem; color: var(--gg-gray-90); font-size: var(--gg-fz-b-sm); text-decoration: underline; text-underline-offset: 0.4rem; transition: 0.4s ease-in-out; border-radius: .4rem; } 
.breadcrumb-wrap .breadcrumb ul li .txt:hover { background-color: var(--gg-secondary-5); } 
.breadcrumb-wrap .breadcrumb ul li .txt.on { background-color: var(--gg-secondary-10); } 
.breadcrumb-wrap .breadcrumb ul li::before { content: ""; display: inline-flex; width: 1.6rem; height: 1.6rem; margin-top: 0.1rem; margin-right: 0.4rem; vertical-align: middle; background: url("./images/ico/ico-arrow-right.svg") no-repeat center; background-size: contain; } 
.breadcrumb-wrap .breadcrumb ul li.home { padding-left: 0; } 
.breadcrumb-wrap .breadcrumb ul li.home::before { display: none; } 
.breadcrumb-wrap .breadcrumb ul li.home .txt::before { content: ""; display: inline-flex; width: 1.6rem; height: 1.6rem; margin-right: 0.4rem; margin-bottom: 0.4rem; vertical-align: middle; background-image: url("./images/ico/ico-home.svg"); background-size: contain; } 

/* page title */
.page-title-wrap { display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; gap: var(--space-5) 0; width: 100%; max-width: 124.8rem; margin-top: var(--space-10); } 
.page-title-wrap .page-title { display: flex; justify-content: space-between; align-items: center; width: inherit; } 
.page-title-wrap .page-title.col { flex-direction: column; justify-content: unset; align-items: unset; gap: var(--space-6);}
.page-title-wrap .page-desc { width: inherit; word-break: keep-all; } 
.page-title-wrap .page-desc .title { font-weight: 700; font-size: var(--gg-fz-md); line-height: 3.6rem; } 
.page-title-wrap .page-desc .txt { line-height: 2.4rem; } 

@media ( max-width: 868px ) {
  .page-title-wrap.inner {
    padding: 0;
  }
}

/* 페이지별 컨텐츠 영역 */
.page-content { margin-top: var(--space-12); } 

/* content title */
.con-title-wrap .con-title { display: flex; flex-direction: column;}
.con-title-wrap .con-title .small-txt { color: var(--gg-gray-70); font-size: var(--gg-fz-b-sm); font-weight: bold;}
.con-title-wrap .con-title .txt { margin-top: var(--space-4); color: var(--gg-gray-90); font-size: var(--gg-fz-xlg); font-weight: 700;}
.con-title-wrap .con-desc { margin-top: var(--space-6); word-break: keep-all; overflow-wrap: break-word;}

.con-title-wrap.type-b { display: flex; flex-direction: column; justify-content: space-between; align-content: flex-start; flex-wrap: nowrap; gap: var(--space-5) 0; width: 100%;}
.con-title-wrap.type-b .con-title { display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: inherit; }
.con-title-wrap.type-b .con-title h3 { font-size: var(--gg-fz-lg); }
.con-title-wrap.type-b .con-desc { margin-top: 0; }

@media ( max-width: 767px ) {
  .con-title-wrap .con-title .txt { font-size: 28px;}
  .page-content > .inner .inner { padding: 0; }
}