@charset "utf-8";
/* reset.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* 태블릿 사이즈 폰트 사이즈 대응 */
@media (max-width: 1024px) {
  html {
    font-size: 60%; /* 1rem = 9px */
  }
}

/* 모바일 사이즈 폰트 사이즈 대응 */
@media (max-width: 767px) {
  html {
    font-size: 58%; /* 1rem = 8.8px */
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Pretendard GOV", sans-serif;
  color: var(--gg-gray-90);
  font-weight: 400;
  line-height: 1.5;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--gg-fz-b-md);
}

ul,
ol {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

li::marker {
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em,
label,
:before,
:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* -webkit-text-size-adjust: none; */
	font-family: inherit;
	line-height: 1.5;
	letter-spacing: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

table {
  table-layout: fixed;
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overscroll-behavior: none;
}

caption {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

h1 {
  font-size: var(--gg-fz-xlg);
}
h2 {
  font-size: var(--gg-fz-lg);
}
h3 {
  font-size: var(--gg-fz-md);
}
h4 {
  font-size: var(--gg-fz-sm);
}
h5 {
  font-size: var(--gg-fz-xsm);
}

/* fieldset */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* label */
label {
  display: inline-block;
  cursor: pointer;
}
