/* --------------------------------------------------------------------------
    open-data - 데이터셋
   -------------------------------------------------------------------------- */
.search-bar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--space-4);
}
.search-bar .wrap{
  width: 70rem;
  display: flex;
  justify-content: space-between;
  gap: var(--space-4);
}
.search-bar .btn-wrap {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-4);
}



.con-wrap .con-title{
  padding-bottom: var(--space-4);
}


/* --------------------------------------------------------------------------
    member
   -------------------------------------------------------------------------- */
.member > .card{
  padding: var(--space-16) var(--space-4);
}

.member .member-area {
  display: flex;
  padding: var(--space-12) 0 0;
  gap: var(--space-6);
}
.member .member-area.border-top {
  border-top: .1rem solid var(--gg-gray-40);
}

.member .member-area > div {
  flex: 1;
}

.member .member-area .list-item + .list-item {
  border-left: .1rem solid var(--gg-gray-40);
  padding-left: 2.4rem;
  box-sizing: border-box;
}

.member .member-area .list-item .title {
  font-size: var(--gg-fz-md);
  font-weight: 700;
}

.member .member-area .txt-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  border-top: .1rem solid var(--gg-gray-40);
  padding-top: var(--space-8);
}

.member .member-area .txt-wrap div {
  display: flex;
}

.member .member-area .txt-wrap div::before {
  content: "•";
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.member .member-area .txt-wrap p.bold {
  font-weight: bold;
}

.member .member-area .list-item .txt {
  margin-top: var(--space-6);
  word-break: break-all;
  letter-spacing: 0;
}
.member .con-desc {
  font-size: var(--gg-fz-b-lg);
}

.member .member-area .list-item .join-btn,
.member .member-area .list-item .convert-btn {
  margin-top: var(--space-10);
  font-size: var(--gg-fz-b-lg);
  font-weight: bold;
  position: relative;
}

.member .member-area .list-item .form-group .join-btn::after,
.member .member-area .list-item .form-group .convert-btn::after {
  position: absolute;
  right: 2rem;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background-image: url(/images/ico/ico-arrow-right.svg);
  content: "";
  margin-bottom: 0.5rem;
}

.member .member-area .list-item .form-group button span {
  color: var(--gg-secondary-80);
}

.member .info-txt {
  font-size: var(--gg-fz-b-lg);
}

.red-point {
  padding: var(--space-1);
  box-sizing: border-box;
  color: var(--gg-danger-60);
}

.terms-agree-all {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.terms-agree-all .form-check > .txt {
  padding-left: var(--space-10);
  padding-top: var(--space-1);
  line-height: 1.5;
  font-size: var(--gg-fz-b-lg);
  word-break: keep-all;
}

.terms-agree-all .terms-agree-ul{
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.terms-agree-all .terms-agree-ul .agree-tit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-4);
}

.terms-agree-all .terms-agree-ul .agree-tit > button {
  font-weight: 400;
}

.terms-agree-all .terms-agree-ul .agree-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-4);
  margin-top: var(--space-4);
  padding: var(--space-6);
  border-radius: 1.2rem;
}

.agree-box.bg-gray {
  background-color: var(--gg-gray-10);
}

.terms-agree-all .terms-agree-ul .agree-box .check-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-5);
}

.member .btn-wrap {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-wrap.flex-1 {
  flex: 1;
}

.form-group .list-refer {
  margin-top: var(--space-5) !important;
}

.member .form-group {
  max-width: 100%;
}

.member .form-group label {
  font-weight: bold;
}

.complete .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding: var(--space-10) var(--space-6);
  box-sizing: border-box;
  background: url("/images/content/bg-member-complete.svg") no-repeat center;
  background-size: contain;
  font-size: var(--gg-fz-lg);
  font-weight: bold;
  text-align: center;
}
.complete .card .name {
  text-align: center;
  color: var(--gg-secondary-80);
}

.complete .card .txt {
  font-size: var(--gg-fz-b-md);
}

/* 로그인 */
.member .link-wrap {
  text-align: center;
}

.member .link-wrap span {
  display: inline-block;
  position: relative;
  margin-right: 1.3rem;
}

.member .link-wrap span:first-child::before {
  display: none;
}

.member .link-wrap span::before {
  display: block;
  position: absolute;
  left: -0.9rem;
  top: calc(50% - 0.8rem);
  content: '';
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--gg-gray-20);
}

.member .list-item .any-id {
  padding: var(--space-6) 0;
}

.member .list-item .any-id .certify-type {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-4);
}

.member .list-item .any-id .certify-type li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1.2rem;
  background-color: var(--gg-gray-5);
  transition: 0.4s ease-in-out;
}

.member .list-item .any-id .certify-type li:hover {
  background-color: var(--gg-gray-10);
}

.member .list-item .any-id .certify-type li .login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: var(--space-6) var(--space-8);
}

.member .list-item .any-id .certify-type li .login-link::before {
  content: "";
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--space-2);
  pointer-events: none;
}

.member .list-item .any-id .certify-type li .login-link.naver::before {
  background-image: url("/images/ico/ico-anyid-naver.svg");
}
.member .list-item .any-id .certify-type li .login-link.google::before {
  background-image: url("/images/ico/ico-anyid-google.svg");
}
.member .list-item .any-id .certify-type li .login-link.kakao::before {
  background-image: url("/images/ico/ico-anyid-kakao.svg");
}
.member .list-item .any-id .certify-type li .login-link.facebook::before {
  background-image: url("/images/ico/ico-anyid-facebook.svg");
}
.member .list-item .any-id .certify-type li .login-link.line::before {
  background-image: url("/images/ico/ico-anyid-line.svg");
}
.member .list-item .any-id .certify-type li .login-link.mail::before {
  background-image: url("/images/ico/ico-anyid-mail.svg");
}

.member .list-item .any-id .certify-type li .login-link::after {
  content: "";
  position: absolute;
  right: var(--space-8);
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--space-2);
  pointer-events: none;
}
.member .list-item .any-id .certify-type li .login-link::after {
  background-image: url("/images/ico/ico-shortcut.svg");
}

/* 간편로그인 메일 팝업 */
.re-code {
  margin-left: 1rem;
  color: var(--gg-primary);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.re-code::after{
  content: "";
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 0.2rem;
  vertical-align: top;
  background: url("/images/ico/ico-b-open-new-window.svg") no-repeat center;
  background-size: contain;
}
.auth-wrap {
  display: flex;
  gap: var(--space-4) !important;
}
.auth-wrap .auth-top {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
}
.auth-wrap .auth-top .input  {
  flex: 1;
  min-width: 0;
}
.timer {
  white-space: nowrap;
  color: var(--gg-point-60);
}

/* 아이디 찾기 / 비밀번호 찾기 */
.find-member .card {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.find-member .card .txt {
  font-size: var(--gg-fz-md);
  font-weight: bold;
}


/* 모바일 */
@media (max-width: 767px) {
  .member .member-area {
    flex-direction: column;
  }
  .member .member-area .list-item + .list-item {
    border-left: none;
    padding-left: 0;
    border-top: .1rem solid var(--gg-gray-20);
    padding-top: var(--space-6);
  }
  .btn-wrap button{
    width: 100%;
  }

  .auth-wrap {
    flex-direction: column;
  }
  .auth-wrap button {
    width: 100%;
  }
}