body {
  font-family: sans-serif;
  padding: 20px !important;
  box-sizing: border-box;
}
.pub-table a:hover {
  text-decoration: underline;
}
.pub-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  height: calc(100% - 80px);
}
.table-wrap {
  height: fit-content;
  overflow: hidden;
  border: 1px solid #ccc;
}
.pub-table {
  font-size: 1.3rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.pub-table tr th {
  text-align: left !important;
}
.pub-table td {
  font-size: 1.3rem !important;
}
.pub-table tr:last-child td {
  border-bottom: none;
}
#preview {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
}

.file-link.clicked {
  color: var(--krds-color-light-primary-60);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: .3rem;
}