@charset "UTF-8";

/* --------------------------------------------------------------------------
    member
   -------------------------------------------------------------------------- */
.member > .card{
  padding: 6.4rem  1.2rem;
}
.member .member-area {
  display: flex;
  padding: var(--krds-gap-10) 0 0;
  gap: 2.4rem;
}
.member .member-area.border-top {
  border-top: .1rem solid var(--krds-color-light-gray-40);
  margin-top: var(--krds-pc-gap-layout-h2-h3);
}
.member .member-area > div {
  flex: 1;
}
.member .member-area .list-item + .list-item {
  border-left: .1rem solid var(--krds-color-light-gray-40);
  padding-left: 2.4rem;
  box-sizing: border-box;
}
.member .member-area .list-item .title {
  font-size: var(--krds-pc-font-size-heading-medium);
  font-weight: 700;
}
.member .member-area .txt-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-top: .1rem solid var(--krds-color-light-gray-40);
  padding-top: 3.2rem;
}
.member .member-area .txt-wrap div {
  display: flex;
}
.member .member-area .txt-wrap div::before {
  content: "•";
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.member .member-area .txt-wrap p.bold {
  font-weight: bold;
}
.member .member-area .list-item .txt {
  margin-top: 2.4rem;
  word-break: break-all;
  letter-spacing: 0;
  font-size: var(--krds-pc-font-size-body-medium);
}
.member .con-desc {
  font-size: var(--krds-pc-font-size-body-large);
}
.member .list-item .join-btn,
.member .list-item .convert-btn {
  margin-top: 4rem;
  font-size: var(--krds-pc-font-size-body-large);
  font-weight: bold;
  position: relative;
}
.member .form-group .join-btn::after,
.member .form-group .convert-btn::after {
  position: absolute;
  right: 2rem;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_arrow_right.svg");
  content: "";
  margin-bottom: 0.5rem;
}
.member .list-item .form-group button span {
  color: var(--krds-color-light-secondary-80);
}
.member .info-txt {
  font-size: var(--krds-pc-font-size-body-large);
}
.red-point {
  padding: 0 0.4rem;
  box-sizing: border-box;
  color: var(--krds-color-light-danger-60);
}
.member .krds-form-check.all-chk label {
  font-weight: 700;
}
.member .krds-form-check-cnt .krds-form-check-p {
  font-size: var(--krds-pc-font-size-body-large) !important;
}
.form-group .atomic-msg {
  font-size: var(--krds-pc-font-size-label-xsmall);
  color: var(--krds-color-light-gray-70);
}

/* 약관동의 */
.terms-agree-all {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.terms-agree-all .form-check > .txt {
  padding-left: 4rem;
  padding-top: 0.4rem;
  line-height: 1.5;
  font-size: var(--krds-pc-font-size-body-large);
  word-break: keep-all;
}
.terms-agree-all .terms-agree-ul{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.terms-agree-all .terms-agree-ul .agree-tit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  font-size: var(--krds-pc-font-size-heading-small);
}
.terms-agree-all .terms-agree-ul .agree-tit > button {
  font-weight: 400;
}
.terms-agree-all .terms-agree-ul .agree-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-top: 1.6rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
}
.agree-box.bg-gray {
  background-color: var(--krds-color-light-gray-10);
}
.terms-agree-all .terms-agree-ul .agree-box .check-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.member .form-group {
  max-width: 100%;
  width: auto;
}
.member .form-group .form-tit {
  margin-bottom: 1.6rem;
}
.member .form-group label {
  font-size: var(--krds-pc-font-size-heading-small);
  font-weight: 700;
}
.member .form-group .krds-form-check label {
  font-weight: 400;
}
.member .etc-input-area {
  margin-top: -24px;
}

/* 완료 */
.complete .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding: 4rem 2.4rem;
  box-sizing: border-box;
  background: url("/gg_pub_portal/resources/img/bg/bg_member_complete.svg") no-repeat center !important;
  background-size: contain !important;
  font-size: var(--krds-pc-font-size-heading-large);
  font-weight: bold;
  text-align: center;
}
.complete .card .name {
  text-align: center;
  color: var(--krds-color-light-secondary-80);
}
.complete .card .txt {
  font-size: var(--krds-pc-font-size-body-medium);
}

/* 로그인 */
.member .link-wrap {
  text-align: center;
}
.member .link-wrap span {
  display: inline-block;
  position: relative;
  margin-right: 1.3rem;
}
.member .link-wrap span:first-child::before {
  display: none;
}
.member .link-wrap span::before {
  display: block;
  position: absolute;
  left: -0.9rem;
  top: calc(50% - 0.8rem);
  content: '';
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--krds-color-light-gray-20);
}
.member .list-item .any-id {
  padding: 2.4rem 0;
}
.member .list-item .any-id .certify-type {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
}
.member .list-item .any-id .certify-type li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1.2rem;
  background-color: var(--krds-color-light-gray-5);
  transition: 0.4s ease-in-out;
}
.member .list-item .any-id .certify-type li:hover {
  background-color: var(--krds-color-light-gray-10);
}
.member .list-item .any-id .certify-type li .login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 2.4rem 3.2rem;
}
.member .list-item .any-id .certify-type li .login-link::before {
  content: "";
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.8rem;
  pointer-events: none;
}
/* 간편로그인 이미지 */
.member .list-item .any-id .certify-type li .login-link.naver::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_naver.svg");
}
.member .list-item .any-id .certify-type li .login-link.google::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_google.svg");
}
.member .list-item .any-id .certify-type li .login-link.kakao::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_kakao.svg");
}
.member .list-item .any-id .certify-type li .login-link.facebook::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_facebook.svg");
}
.member .list-item .any-id .certify-type li .login-link.line::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_line.svg");
}
.member .list-item .any-id .certify-type li .login-link.mail::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_mail.svg");
}

.member .list-item .any-id .certify-type li .login-link::after {
  content: "";
  position: absolute;
  right: 3.2rem;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.8rem;
  pointer-events: none;
}
.member .list-item .any-id .certify-type li .login-link::after {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico-shortcut.svg");
}
.form-group .font-normal {
  margin-bottom: 0 !important;
}
.form-group .font-normal label {
  font-size: var(--krds-pc-font-size-label-small) !important;
  font-weight: 400 !important;
  color: var(--krds-color-light-gray-70) !important;
}

/* 모바일 */
@media (max-width: 767px) {
  .member .member-area {
    padding-top: 2.4rem;
    flex-direction: column;
  }
  .member .member-area .list-item + .list-item {
    border-left: none;
    padding-left: 0;
    border-top: .1rem solid var(--krds-color-light-gray-20);
    padding-top: 2.4rem;
  }
  .member .member-area.border-top {
    margin-top: var(--krds-mobile-gap-layout-h2-h3);
  }
}


/* 간편로그인 메일 팝업 */
.re-code {
  margin-left: 1rem;
  color: var(--krds-color-light-primary-60);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.re-code::after{
  content: "";
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 0.2rem;
  vertical-align: top;
  background: url("/gg_pub_portal/resources/img/component/icon/ico_b_open_new_window.svg") no-repeat center;
  background-size: contain;
}
.auth-wrap {
  display: flex;
  gap: 1.6rem !important;
}
.auth-wrap .auth-top {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.auth-wrap .auth-top .input  {
  flex: 1;
  min-width: 0;
}
.timer {
  white-space: nowrap;
  color: var(--krds-color-light-point-60);
}


/* 아이디 찾기 */
.find-member .txt {
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 767px){
  .step-info-wrap {
    margin-bottom: 2.4rem !important;
  }
  .auth-wrap {
    flex-direction: column !important;
  }
  .auth-wrap button {
    width: 100%;
  }
  .find-member .txt {
    font-size: 1.9rem;
  }
  
  /* 인풋 + 버튼 모바일 column */
  .input-group.m-column {
    flex-direction: column;
  }
  .input-group.m-column button {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------
    마이페이지
   -------------------------------------------------------------------------- */
.mypage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--krds-mobile-padding-card-medium);
}
.mypage .mypage-left {
  width: calc(100% - 24rem - 2.4rem);
  flex: 1;
}
.mypage .mypage-left .structured-item .flex-col {
  min-height: 5rem;
}
.mypage .mypage-right {
  width: 24rem;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: var(--krds-mobile-padding-card-medium);
}
.mypage .mypage-left .structured-item {
  box-shadow:
  0 0 2px 0 rgba(0, 0, 0, 0.15),
  0 8px 16px 0 rgba(0, 0, 0, 0.25);
}
.mypage .mypage-right .card {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 15rem;
  padding: 0 !important;
}
.mypage .mypage-right .card .flex-col {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--krds-gap-5);
}
.mypage .mypage-right .card:hover {
  background-color: var(--krds-color-light-gray-5);
}
.mypage .mypage-right .card .txt {
  font-weight: 700;
  color: var(--krds-color-light-gray-70);
}
.mypage .structured-item .c-date {
  color: var(--krds-color-light-gray-70);
}
.mypage .structured-item .num-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mypage .structured-item .num-list li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--krds-color-light-secondary-80);
  padding: 0 1.2rem;
}
.mypage .structured-item .num-list li::after {
  content: "";
  display: block;
  position: absolute; 
  right: 0;
  top: calc(50% - 2rem);
  width: 0.1rem;
  height: 4rem;
  background-color: var(--krds-color-light-gray-20);
}
.mypage .structured-item .num-list li:last-child::after {
  display: none;
}

.svg-icon.ico-mypage-del {
  width: 5rem;
  height: 5rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-del.svg);
  mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-del.svg);
}
.svg-icon.ico-mypage-profile {
  width: 5rem;
  height: 5rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-profile.svg);
  mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-profile.svg);
}
.svg-icon.ico-mypage-sns-login {
  width: 5rem;
  height: 5rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-sns-login.svg);
  mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-sns-login.svg);
}

.conts-area .tit-sub {
  position: relative;
  font-size: var(--krds-pc-font-size-body-large);
  margin-left: 1.6rem;
}
.conts-area .tit-sub::after {
  content: "";
  display: block;
  position: absolute;
  left: -1.6rem;
  top: calc(50% - 1rem);
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--krds-color-light-gray-40);
}
.conts-area .tit-sub .point {
  color: var(--krds-color-light-primary-60);

}

/* 나의 정보관리 */
.any-id-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--krds-gap-7);
  font-size: var(--krds-pc-font-size-body-large);
}
.any-id-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.any-id-list p {
  min-width: 11.8rem;
  font-weight: 700;
}

.btn-mem-del .svg-icon.ico-angle {
  transform: rotate(-90deg) !important;
}


/* 모바일 */ 
@media (max-width:767px) {
  .mypage {
    flex-direction: column;
  }
  .mypage .mypage-left {
    width: 100%;
  }
  .mypage .mypage-left .type-half {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .mypage .mypage-right {
    width: 100%;
  }
  .conts-area .tit-sub {
    display: none;
  }
}


/* --------------------------------------------------------------------------
    service info
   -------------------------------------------------------------------------- */
.video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 (9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
  border-radius: 12px; /* 선택 */
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.toon-wrap {
  width: 100%;
  height: auto;
}
.toon-wrap img {
  width: 100%;
}