@charset "UTF-8";

/* --------------------------------------------------------------------------
    member
   -------------------------------------------------------------------------- */
.member > .card{
  padding: 6.4rem  1.2rem;
}
.member .member-area {
  display: flex;
  padding: var(--krds-gap-10) 0 0;
  gap: 2.4rem;
}
.member .member-area.border-top {
  border-top: .1rem solid var(--krds-color-light-gray-40);
  margin-top: var(--krds-pc-gap-layout-h2-h3);
}
.member .member-area > div {
  flex: 1;
}
.member .member-area .list-item + .list-item {
  border-left: .1rem solid var(--krds-color-light-gray-40);
  padding-left: 2.4rem;
  box-sizing: border-box;
}
.member .member-area .list-item .title {
  font-size: var(--krds-pc-font-size-heading-medium);
  font-weight: 700;
}
.member .member-area .txt-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-top: .1rem solid var(--krds-color-light-gray-40);
  padding-top: 3.2rem;
}
.member .member-area .txt-wrap div {
  display: flex;
}
.member .member-area .txt-wrap div::before {
  content: "•";
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.member .member-area .txt-wrap p.bold {
  font-weight: bold;
}
.member .member-area .list-item .txt {
  margin-top: 2.4rem;
  word-break: break-all;
  letter-spacing: 0;
  font-size: var(--krds-pc-font-size-body-medium);
}
.member .con-desc {
  font-size: var(--krds-pc-font-size-body-large);
}
.member .list-item .join-btn,
.member .list-item .convert-btn {
  margin-top: 4rem;
  font-size: var(--krds-pc-font-size-body-large);
  font-weight: bold;
  position: relative;
}
.member .form-group .join-btn::after,
.member .form-group .convert-btn::after {
  position: absolute;
  right: 2rem;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_arrow_right.svg");
  content: "";
  margin-bottom: 0.5rem;
}
.member .list-item .form-group button span {
  color: var(--krds-color-light-secondary-80);
}
.member .info-txt {
  font-size: var(--krds-pc-font-size-body-large);
}
.red-point {
  padding: 0 0.4rem;
  box-sizing: border-box;
  color: var(--krds-color-light-danger-60);
}
.member .krds-form-check.all-chk label {
  font-weight: 700;
}
.member .krds-form-check-cnt .krds-form-check-p {
  font-size: var(--krds-pc-font-size-body-large) !important;
}
.form-group .atomic-msg {
  font-size: var(--krds-pc-font-size-label-xsmall);
  color: var(--krds-color-light-gray-70);
}

/* 약관동의 */
.terms-agree-all {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.terms-agree-all .form-check > .txt {
  padding-left: 4rem;
  padding-top: 0.4rem;
  line-height: 1.5;
  font-size: var(--krds-pc-font-size-body-large);
  word-break: keep-all;
}
.terms-agree-all .terms-agree-ul{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.terms-agree-all .terms-agree-ul .agree-tit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  font-size: var(--krds-pc-font-size-heading-small);
}
.terms-agree-all .terms-agree-ul .agree-tit > button {
  font-weight: 400;
}
.terms-agree-all .terms-agree-ul .agree-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-top: 1.6rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
}
.agree-box.bg-gray {
  background-color: var(--krds-color-light-gray-10);
}
.terms-agree-all .terms-agree-ul .agree-box .check-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.member .form-group {
  max-width: 100%;
  width: auto;
}
.member .form-group .form-tit {
  margin-bottom: 1.6rem;
}
.member .form-group label {
  font-size: var(--krds-pc-font-size-heading-small);
  font-weight: 700;
}
.member .form-group .krds-form-check label {
  font-weight: 400;
}
.member .etc-input-area {
  margin-top: -24px;
}

/* 완료 */
.complete .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding: 4rem 2.4rem;
  box-sizing: border-box;
  background: url("/gg_pub_portal/resources/img/bg/bg_member_complete.svg") no-repeat center !important;
  background-size: contain !important;
  font-size: var(--krds-pc-font-size-heading-large);
  font-weight: bold;
  text-align: center;
}
.complete .card .name {
  text-align: center;
  color: var(--krds-color-light-secondary-80);
}
.complete .card .txt {
  font-size: var(--krds-pc-font-size-body-medium);
}

/* 로그인 */
.member .link-wrap {
  text-align: center;
}
.member .link-wrap span {
  display: inline-block;
  position: relative;
  margin-right: 1.3rem;
}
.member .link-wrap span:first-child::before {
  display: none;
}
.member .link-wrap span::before {
  display: block;
  position: absolute;
  left: -0.9rem;
  top: calc(50% - 0.8rem);
  content: '';
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--krds-color-light-gray-20);
}
.member .list-item .any-id {
  padding: 2.4rem 0;
}
.member .list-item .any-id .certify-type {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
}
.member .list-item .any-id .certify-type li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1.2rem;
  background-color: var(--krds-color-light-gray-5);
  transition: 0.4s ease-in-out;
}
.member .list-item .any-id .certify-type li:hover {
  background-color: var(--krds-color-light-gray-10);
}
.member .list-item .any-id .certify-type li .login-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 2.4rem 3.2rem;
}
.member .list-item .any-id .certify-type li .login-link::before {
  content: "";
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.8rem;
  pointer-events: none;
}
/* 간편로그인 이미지 */
.member .list-item .any-id .certify-type li .login-link.naver::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_naver.svg");
}
.member .list-item .any-id .certify-type li .login-link.google::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_google.svg");
}
.member .list-item .any-id .certify-type li .login-link.kakao::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_kakao.svg");
}
.member .list-item .any-id .certify-type li .login-link.facebook::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_facebook.svg");
}
.member .list-item .any-id .certify-type li .login-link.line::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_line.svg");
}
.member .list-item .any-id .certify-type li .login-link.mail::before {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico_anyid_mail.svg");
}

.member .list-item .any-id .certify-type li .login-link::after {
  content: "";
  position: absolute;
  right: 3.2rem;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.8rem;
  pointer-events: none;
}
.member .list-item .any-id .certify-type li .login-link::after {
  background-image: url("/gg_pub_portal/resources/img/component/icon/ico-shortcut.svg");
}
.form-group .font-normal {
  margin-bottom: 0 !important;
}
.form-group .font-normal label {
  font-size: var(--krds-pc-font-size-label-small) !important;
  font-weight: 400 !important;
  color: var(--krds-color-light-gray-70) !important;
}

/* 모바일 */
@media (max-width: 767px) {
  .member .member-area {
    padding-top: 2.4rem;
    flex-direction: column;
  }
  .member .member-area .list-item + .list-item {
    border-left: none;
    padding-left: 0;
    border-top: .1rem solid var(--krds-color-light-gray-20);
    padding-top: 2.4rem;
  }
  .member .member-area.border-top {
    margin-top: var(--krds-mobile-gap-layout-h2-h3);
  }
}


/* 간편로그인 메일 팝업 */
.re-code {
  margin-left: 1rem;
  color: var(--krds-color-light-primary-60);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.re-code::after{
  content: "";
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 0.2rem;
  vertical-align: top;
  background: url("/gg_pub_portal/resources/img/component/icon/ico_b_open_new_window.svg") no-repeat center;
  background-size: contain;
}
.auth-wrap {
  display: flex;
  gap: 1.6rem !important;
}
.auth-wrap .auth-top {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.auth-wrap .auth-top .input  {
  flex: 1;
  min-width: 0;
}
.timer {
  white-space: nowrap;
  color: var(--krds-color-light-point-60);
}


/* 아이디 찾기 */
.find-member .txt {
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 767px){
  .step-info-wrap {
    margin-bottom: 2.4rem !important;
  }
  .auth-wrap {
    flex-direction: column !important;
  }
  .auth-wrap button {
    width: 100%;
  }
  .find-member .txt {
    font-size: 1.9rem;
  }
  
  /* 인풋 + 버튼 모바일 column */
  .input-group.m-column {
    flex-direction: column;
  }
  .input-group.m-column button {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------
    마이페이지
   -------------------------------------------------------------------------- */
.mypage {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--krds-mobile-padding-card-medium);
}
.mypage .mypage-left {
  width: calc(100% - 24rem - 2.4rem);
  flex: 1;
}
.mypage .mypage-left .structured-item .flex-col {
  min-height: 5rem;
}
.mypage .mypage-right {
  width: 24rem;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: var(--krds-mobile-padding-card-medium);
}
.mypage .mypage-left .structured-item {
  box-shadow:
  0 0 2px 0 rgba(0, 0, 0, 0.15),
  0 8px 16px 0 rgba(0, 0, 0, 0.25);
}
.mypage .mypage-right .card {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 15rem;
  padding: 0 !important;
}
.mypage .mypage-right .card .flex-col {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--krds-gap-5);
}
.mypage .mypage-right .card:hover {
  background-color: var(--krds-color-light-gray-5);
}
.mypage .mypage-right .card .txt {
  font-weight: 700;
  color: var(--krds-color-light-gray-70);
}
.mypage .structured-item .c-date {
  color: var(--krds-color-light-gray-70);
}
.mypage .structured-item .num-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mypage .structured-item .num-list li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--krds-color-light-secondary-80);
  padding: 0 1.2rem;
}
.mypage .structured-item .num-list li::after {
  content: "";
  display: block;
  position: absolute; 
  right: 0;
  top: calc(50% - 2rem);
  width: 0.1rem;
  height: 4rem;
  background-color: var(--krds-color-light-gray-20);
}
.mypage .structured-item .num-list li:last-child::after {
  display: none;
}

.svg-icon.ico-mypage-del {
  width: 5rem;
  height: 5rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-del.svg);
  mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-del.svg);
}
.svg-icon.ico-mypage-profile {
  width: 5rem;
  height: 5rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-profile.svg);
  mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-profile.svg);
}
.svg-icon.ico-mypage-sns-login {
  width: 5rem;
  height: 5rem;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-sns-login.svg);
  mask-image: url(/gg_pub_portal/resources/img/component/icon/ico-mypage-sns-login.svg);
}

.conts-area .tit-sub {
  position: relative;
  font-size: var(--krds-pc-font-size-body-large);
  margin-left: 1.6rem;
}
.conts-area .tit-sub::after {
  content: "";
  display: block;
  position: absolute;
  left: -1.6rem;
  top: calc(50% - 1rem);
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--krds-color-light-gray-40);
}
.conts-area .tit-sub .point {
  color: var(--krds-color-light-primary-60);

}

/* 나의 정보관리 */
.any-id-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--krds-gap-7);
  font-size: var(--krds-pc-font-size-body-large);
}
.any-id-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.any-id-list p {
  min-width: 11.8rem;
  font-weight: 700;
}

.btn-mem-del .svg-icon.ico-angle {
  transform: rotate(-90deg) !important;
}


/* 모바일 */ 
@media (max-width:767px) {
  .mypage {
    flex-direction: column;
  }
  .mypage .mypage-left {
    width: 100%;
  }
  .mypage .mypage-left .type-half {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .mypage .mypage-right {
    width: 100%;
  }
  .conts-area .tit-sub {
    display: none;
  }
}


/* --------------------------------------------------------------------------
    service info
   -------------------------------------------------------------------------- */
.img-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-area.bg-gray {
  background-color: var(--krds-color-light-gray-5);
}
.img-area.border {
  border: 0.1rem solid var(--krds-color-light-gray-30);
}
.service-agreement {
  height: 40rem;
}
.service-agreement h4 { 
  font-size: var(--krds-pc-font-size-heading-small);
  padding-bottom: var(--krds-padding-6);
  box-sizing: border-box;
}
.service-agreement ol.scroll {
  height: calc(100% - 5.4rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.service-agreement ol.scroll li p {
  margin-top: 0.8rem !important;
}

/* 홍보관 */
.video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 (9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
  border-radius: 12px; /* 선택 */
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.toon-wrap {
  width: 100%;
  height: auto;
}
.toon-wrap img {
  width: 100%;
}
.tab-btn-wrap {
  position: absolute;
  top: 0;
  z-index: 5;
  height: 100%;
  display: flex;
  align-items: center;
}
.tab-btn-wrap.prev {
  left: 0;
}
.tab-btn-wrap.next {
  right: 0;
}
.tab-btn-wrap .wrap {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fff;
}
.tab-btn-wrap .wrap button {
  width: fit-content;
  height: fit-content;
}
.square.prev {
  width: 2rem;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.square.next {
  width: 2rem;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.tab-btn-wrap.prev button:focus-visible {
  position: relative;
  z-index: 2;
}


/* --------------------------------------------------------------------------
    개방
   -------------------------------------------------------------------------- */
/* 데이터셋 */
.dataset .sch-filter-box {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-7);
  align-self: stretch;
  margin-top: 0;
}
.dataset .wrap .btn-wrap {
  display: flex;
  flex-direction: row;
  gap: var(--krds-gap-4);
  width: fit-content;
}
.dataset .wrap .sch-input {
  width: 100%;
}
.dataset .filter-chip {
  align-items: unset;
  padding: 0 !important;
  margin: 0 !important;
  border-top: none !important;
}
.dataset .filter-chip dt {
  min-height: 4rem;
}
.dataset .filter-chip dt button.krds-btn {
  margin-left: 1.6rem;
}
.dataset .filter-chip dd .krds-btn {
  min-width: 4rem;
}
.dataset .ico-refresh {
  width: 1.6rem !important;
}

/* 아코디언 */
.krds-accordion.dataset .accordion-item {
  border-top: 0;
  padding-bottom: var(--krds-padding-7);
}
.krds-accordion.dataset .accordion-item .accordion-header .btn-accordion {
  padding-top: 0;
}
.krds-accordion.dataset .accordion-item .accordion-header .btn-accordion:after {
  top: 0;
}
.krds-accordion.dataset .accordion-body {
  padding: var(--krds-padding-10) !important;
}
.krds-accordion.dataset .accordion-body .filter-group .form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--krds-gap-7);
  flex: 1 1 0;
}
.krds-accordion.dataset .accordion-body .filter-group .form-group .form-tit {
  min-width: 14rem !important;
  margin-bottom: 0;
}
.krds-accordion.dataset .accordion-body .krds-form-check label{
  font-weight: 400;
}
.krds-accordion.dataset .accordion-body .form-group .form-tit {
  width: fit-content !important;
}
.krds-accordion.dataset .accordion-body .krds-check-area {
  flex-wrap: wrap;
  column-gap: var(--krds-gap-9);
  row-gap: var(--krds-gap-5);
}
.krds-accordion.dataset .btn-accordion {
  font-size: var(--krds-pc-font-size-heading-medium);
}

/* 연관데이터셋 아코디언 */
.krds-accordion.related_dataset .accordion-item{
  border-top: none;
}
.krds-accordion.related_dataset ul {
  padding: var(--krds-padding-6) 0;
  background-color: var(--krds-color-light-gray-0);
}
.krds-accordion.related_dataset ul li {
  display: flex;
  flex-direction: row;
  gap: var(--krds-gap-5);
  padding: var(--krds-padding-5) var(--krds-padding-8);
  border-bottom: 0.1rem solid #DDDDDD;
}
.krds-accordion.related_dataset ul li span {
  color: var(--krds-color-light-gray-70);
  font-size: var(--krds-pc-font-size-heading-xsmall);
  font-weight: 700;
  min-width: 8rem;
}
.krds-accordion.related_dataset ul li span::before {
  content: "•";
  margin-right: 0.8rem;
}
.krds-accordion.related_dataset ul li:last-child {
  border-bottom: none;
}

ul.data-info-link li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--krds-padding-6);
  box-sizing: border-box;
  border: 1px solid var(--krds-color-light-gray-30);
  border-radius: 1.2rem;
  background: #fff;
}
ul.data-info-link li button.krds-btn {
  white-space: nowrap;
}
.guide-txt {
  color: var(--krds-color-light-gray-70);
  font-size: var(--krds-pc-font-size-body-small);
  font-weight: 700;
  word-break: keep-all;
}
.guide-txt::before {
  content: "•";
}


/* 데이터 정보 / 상세검색 */
.detail-sch-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--krds-gap-5) var(--krds-gap-7);
}
.detail-sch-wrap li {
  display: flex;
  justify-content: flex-start;
}
.detail-sch-wrap li .form-group {
  align-items: center;
}
.detail-sch-wrap li .form-tit {
  margin-bottom: 0;
}
.detail-sch-wrap li .sch-input {
  width: 100%;
}

/* 데이터 정보 / chart */
.data-info-chart .fieldset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: var(--krds-gap-7);
}
.data-info-chart .form-group {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-gap-4);
  align-items: center;
  min-width: 20.8rem;
  width: auto;
}
.data-info-chart .form-group .form-tit {
  width: fit-content !important;
  margin-bottom: 0;
}
.data-info-chart .form-group select {
  width: 20.8rem
}


.title-link .tds a {
  display: flex;
  flex-direction: column;
}
td.type {
  vertical-align: middle;
}
td.type .tds {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center;
}
td.type .tds .badge-wrap {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 0.4rem;
}
td.type .tds .badge-wrap .krds-badge {
  width: 5.6rem;
  box-sizing: border-box;
}
td.category .tds .krds-badge {
  width: 6.8rem !important;
}

/* 팝업 */
.krds-check-area.grid-col-3 {
  width: 100%;
}
.grid-col-3 .krds-form-check {
  width: 100%;
}
#providing_org_popup .modal-conts {
  max-height: 53rem;
  overflow-y: unset;
}
#providing_org_popup .modal-conts .conts-area {
  height: max-content;
  overflow-y: auto;
}
.krds-modal .krds-form-check label {
  font-weight: 400 !important;
}
.krds-modal .modal-dialog .modal-btn.justify-between {
  justify-content: space-between;
}
.krds-modal .modal-dialog .modal-btn.justify-between > .wrap {
  display: flex;
  justify-content: flex-end;
  gap: var(--krds-gap-3);
}

@media (max-width: 767px) {
  .dataset .wrap {
    flex-wrap: wrap;
  }
  .dataset .wrap .btn-wrap {
    width: 100% !important;
  }
  .dataset .wrap .sch-input {
    flex: 3 1 0;
    min-width: 0;
  }
  .dataset .wrap .btn-wrap button {
    flex: 1 1;
  }
  .dataset .filter-chip {
    flex-direction: column;
  }
  .dataset .filter-chip dd {
    flex-direction: column;
  }
  /* accordion */
  .krds-accordion.dataset .accordion-body {
    padding: var(--krds-padding-8) !important;
  }
  .krds-accordion.dataset .accordion-body dt {
    margin-right: 0;
    white-space: nowrap;
  }
  .krds-accordion.dataset .accordion-body .form-group {
    flex-direction: column !important;
    gap: 0 !important;
  }
  .krds-accordion.dataset .accordion-body .filter-group .form-group .form-tit {
    margin-bottom: 1.6rem;
  }
  .krds-accordion.dataset .fz-h-large {
    font-size: var(--krds-mobile-font-size-heading-large) !important;
  }

  /* table */
  td.type .tds {
    justify-content: flex-end !important;
  }
  
  .krds-check-area.grid-col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .krds-modal .modal-dialog .modal-btn.justify-between > .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .krds-modal .modal-dialog .modal-btn.justify-between > .wrap button {
    width: 100% !important;
  }


  /* 데이터 정보 / 상세검색 */
  .detail-sch-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .detail-sch-wrap li .form-group {
    align-items: start;
  }

  /* 데이터정보 / chart */
  .data-info-chart .fieldset {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* 멀티미디어 데이터 */
.multimedia-list li:not(.no-data):hover {
  outline: 0.2rem solid var(--krds-color-light-primary-50);
  outline-offset: -0.1rem !important;
}

.multimedia-list li .right .c-wrap {
  display: flex;
  justify-content: flex-start;
  gap: var(--krds-gap-4);
}
.multimedia-list li .right .c-wrap .c-date {
  position: relative;
}
.multimedia-list li .right .c-wrap .c-date::after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 0.8rem);
  display: block;
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--krds-color-light-gray-40);
}
.multimedia-list li .right .c-wrap .c-date .value {
  margin-right: 1.2rem;
}
.multimedia-list li .left {
  width: 24rem !important;
  height: 24rem !important;
  overflow: hidden;
}
.multimedia-list li .in .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.multimedia-list.type-img li .in {
  grid-template-columns: 24rem 1fr !important;
}

/* 생애주기 맞춤형 데이터 */
.data-left-list-mobile {
  display: none;
}
.data-left-list-mobile > button {
  width: 100%;
}
.customdata ul li {
  position: relative;
  border: 0.1rem solid var(--krds-color-high-contrast-gray-20);
  width: 100%;
  border-radius: 0.8rem;
}
.customdata ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--krds-gap-5);
  width: 100%;
  padding: var(--krds-padding-6);
  border-radius: 0.8rem;
  transition: all 0.1s ease-in-out;
}
.customdata ul li a:hover {
  outline: 0.2rem solid var(--krds-color-light-primary-50);
}
.customdata ul li .num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  padding: 0 0.4rem;
  border-radius: 0.4rem;
  background: var(--krds-color-light-secondary-70);
  color: var(--krds-color-light-gray-0);
  font-size: var(--krds-pc-font-size-body-xsmall);
  font-weight: 700;
}
.customdata ul li a .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.customdata ul li img {
  display: inline-block;
}
.data-left-list li .num{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.2rem;
  padding: 0 0.4rem;
  border-radius: 0.4rem;
  background: var(--krds-color-light-secondary-70);
  color: var(--krds-color-light-gray-0);
  font-size: var(--krds-pc-font-size-body-xsmall);
  font-weight: 700;
  box-sizing: border-box;
}
.data-left-list {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-3);
}
.data-left-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--krds-gap-2);
}
.data-left-list li button {
  width: 100%;
  padding: var(--krds-padding-2) var(--krds-padding-3);
  border-radius: 0.4rem;
  text-align: left;
}
.data-left-list li button:hover {
  background-color: var(--krds-color-light-secondary-5);
}
.data-left-list li button.active {
  background-color: var(--krds-color-light-secondary-5);
  font-weight: bold;
  color: var(--krds-color-light-secondary-80);
}

/* 우리 지역 데이터 찾기 */
.city-list .form-group {
  display: inline-flex !important;
  justify-content: flex-start !important;
  align-items: center;
  flex-direction: row;
  gap: var(--krds-gap-5);
  width: auto !important;
}
.city-list .form-group .form-tit {
  width: auto;
  margin-bottom: 0;
}
.city-list .form-group .krds-form-select {
  width: 20.8rem !important;
}

/* 과거 데이터 보기 */
.data-info-area {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: var(--krds-gap-4);
  align-items: center;
}
.data-info-area .date::before {
  content: "";
  position: absolute;
  top: calc( 50% - 0.8rem );
  width: 0.1rem;
  height: 1.6rem;
  background-color: var(--krds-color-light-gray-40);
}
.data-info-area .date span {
  margin-left: 1.2rem;
}

@media (max-width: 1024px) {
  .data-left-list {
    display: none;
  }
  .data-left-list-mobile {
    display: block;
  }
}


/* --------------------------------------------------------------------------
    통계
   -------------------------------------------------------------------------- */
/* 경기도바로알기 */
.ggday-list .txt {
  display: flex;
  justify-content: center;
  font-size: var(--krds-pc-font-size-heading-small);
  font-weight: 700;
}
.ggday-list .card-top p {
  color: var(--krds-color-light-gray-40);
}
.ggday-list .txt .num {
  color: var(--krds-color-light-primary-60);
}
.tab-month .tab {
  width: 100%;
}
.tab-month .tablist {
  overflow-x: auto !important;
}
.tab-month .tablist li button{
  min-width: 6rem;
  padding: 0 2.4rem !important;
}
.tab-month .krds-form-select-sort {
  height: 4.4rem !important;
  padding-right: 4rem;
  font-weight: 700;
}
.tab-month-mobile {
  display: none;
}

@media (max-width: 767px) {
  .tab-month .tab{
    width: 100%;
  }
  .tab-month .justify-between {
    flex-direction: column;
    overflow-x: auto;
  }
  .tab-month .krds-form-select-sort {
    width: 100%;
    border: 0.1rem solid var(--krds-color-light-gray-60);
    font-weight: normal;
  }

  /* month tab */
  .tab-month ul.tablist {
    display: none;
  }
  .tab-month-mobile {
    display: block;
    width: 100%;
  }
  .tab-month-mobile .krds-form-select {
    width: 100%;
    height: 4.4rem;
  }
}

/* 통계DB */
.layout-stats {
  display: flex;
  gap: var(--krds-gap-11);
  width: 100%;
}
.layout-stats .box-1,
.layout-stats .box-2 {
  width: 20rem;
  flex-shrink: 0;
  border-top: 0.3rem solid var(--krds-color-light-secondary-70);
}
.layout-stats .box-3 {
  flex: 1;
  min-width: 0;
  border-top: 0.3rem solid var(--krds-color-light-success-50);
}
.layout-stats .box .top {
  padding: var(--krds-padding-8) var(--krds-padding-3);
}
.layout-stats .box .top .txt {
  font-size: var(--krds-pc-font-size-body-xsmall);
}
.layout-stats .box .top h3 {
  color: var(--krds-color-light-gray-70);
}
.layout-stats .btm {
  padding-top: 2.4rem;
  border-top: 0.1rem solid var(--krds-color-light-gray-20);
}
.stats-list {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-3);
  padding-bottom: 2.4rem;
  box-sizing: border-box;
  max-height: 78rem;
  overflow-y: auto;
}
.stats-list li {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
}
.stats-list.radius-none li {
  border-radius: 0 !important;
}
.stats-list li.active {
  background-color: var(--krds-color-light-secondary-5);
  color: var(--krds-color-light-secondary-70);
  font-weight: 700;
}
.stats-list li:hover {
  background-color: var(--krds-color-light-secondary-5);
  cursor: pointer;
}
.stats-list li .align-center span {
  display: inline;
}
.stats-list li .align-center span button {
  display: inline;
  padding: 0;
  border: 0;
  vertical-align: middle;
  white-space: normal;
  height: 2.4rem;
}
.stats-list li .align-center span button i.ico-tooltip {
  width: 2rem;
  height: 2rem;
}
.stats-list li.align-center > button {
  height: 2.4rem;
}
.stats-list li a > button {
  height: 2.4rem;
}
.stats-list li > button:not(:has(> i.svg-icon)) {
  width: 100%;
  text-align: left;
}

.stats-list.line {
  padding-top: 0 !important;
  gap: 0 !important;
}
.stats-list.line li {
  border-bottom: 0.1rem solid var(--krds-color-light-gray-20);
  padding: 0 !important;
}
.stats-list.line li:hover {
  background-color: #fff;
}
.stats-list.line li .wrap {
  margin: 1.2rem 0;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
}
.stats-list.line li .wrap a {
  min-height: 3.15rem;
}
.stats-list.line li .wrap:hover {
  background-color: var(--krds-color-light-secondary-5);
  cursor: pointer;
}
.highlight {
  background-color: var(--krds-color-light-primary-10);
  color: var(--krds-color-light-primary-60);
  padding: 0 0.2rem;
  font-weight: bold;
  padding-top: 0 !important;
}
#modal_stats_db_info .modal-header .btn-wrap {
    width: auto;
  }

@media (max-width: 767px) {
  #modal_stats_db_info .modal-dialog .modal-content {
    padding-top: 3.2rem;
  }
  #modal_stats_db_info .modal-header {
    flex-direction: column;
  }
  #modal_stats_db_info .modal-header .btn-wrap {
    justify-content: flex-end;
  }
}



/* 테마통계 */
.stats-theme {
  gap: var(--krds-gap-7) !important;
}
.stats-theme .card {
  position: relative;
}
.stats-theme .card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--krds-gap-4);
}
.stats-theme .card .txt {
  color: var(--krds-color-light-gray-70);
  text-align: center;
}
.stats-theme .card .ico-link {
  position: absolute;
  top: 4.4rem;
  right: 3.2rem;
}

/* 통계보고서 */
.stats-ebook {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--krds-gap-6);
  row-gap: var(--krds-gap-7);
  padding-top: 2.4rem;
}
.stats-ebook li {
  max-width: 29.6rem;
}
.stats-ebook li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:var(--krds-gap-5);
}
.stats-ebook li .img-area {
  width: 100%;
  max-height: 40.5rem;
  overflow: hidden;
  border: 0.1rem solid var(--krds-color-light-gray-30);
  box-sizing: border-box;
}
.stats-ebook li .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.stats-ebook li a h2 {
  font-size: var(--krds-pc-font-size-heading-xsmall);
}

.stats-list-mobile {
  display: none;
}


@media (max-width: 1023px) {
  .layout-stats {
    flex-direction: column;
    gap: 0;
  }
  .layout-stats .box-1, .layout-stats .box-2 {
    width: 100%;
  }
  .layout-stats .box-1, .layout-stats .box-2, .layout-stats .box-3 {
    border-top: 0;
  }
  .layout-stats .btm {
    padding-top: 0rem;
    border-top: 0;
  }
  .box-1 .stats-list,
  .box-2 .stats-list {
    display: none;
  }
  .stats-list-mobile {
    display: block;
    width: 100%;
  }
  .stats-list-mobile .krds-form-select {
    width: 100%;
  }
  .stats-report .box-3 .btm {
    margin-top: 2.4rem;
  }
  .stats-ebook {
    margin-top: 2.4rem;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .stats-ebook {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .stats-ebook {
    grid-template-columns: repeat(1, 1fr);
  }
  .stats-ebook li {
    max-width: 100%;
  }

  .tab.line > ul {
    flex-wrap: nowrap;
  }
  .tab.line > ul > li {
    width: fit-content;
    flex: none !important;
  }
  .tab.line > ul > li button {
    padding: 0 2rem !important;
  }
}