<footer id="gg-footer">
  <!-- 패밀리 사이트 -->
  <div class="footer-related">
    <div class="wrap">
      <ul class="footer-related-list">
        <li>
          <button
            type="button"
            class="btn-related data-related-open"
            data-popup-open="#layerRelatedChannel"
          >
            패밀리 사이트
          </button>
          <div class="related-layer footer-channel" id="layerRelatedChannel">
            <div class="related-wrap" tabindex="-1">
              <div class="related-dialog">
                <div class="related-header">
                  <h2 class="related-title">패밀리사이트</h2>
                  <button class="btn-close-popup" data-popup-close>
                    <span class="sr-only">닫기</span>
                  </button>
                </div>
                <div class="related-body" tabindex="0">
                  <ul class="footer-channel-list">
                    <li>
                      <a href="#" target="_blank" title="새 창 열림"
                        >패밀리사이트 1</a
                      >
                    </li>
                    <li>
                      <a href="#" target="_blank" title="새 창 열림"
                        >패밀리사이트 2</a
                      >
                    </li>
                    <li>
                      <a href="#" target="_blank" title="새 창 열림"
                        >패밀리사이트 3</a
                      >
                    </li>
                    <li>
                      <a href="#" target="_blank" title="새 창 열림"
                        >패밀리사이트 4</a
                      >
                    </li>
                    <li>
                      <a href="#" target="_blank" title="새 창 열림"
                        >패밀리사이트 5</a
                      >
                    </li>
                    <li>
                      <a href="#" target="_blank" title="새 창 열림"
                        >패밀리사이트 6</a
                      >
                    </li>
                  </ul>
                </div>
                <button
                  type="button"
                  class="btn-close ico ico-close btn-close-related"
                >
                  <span class="sr-only">닫기</span>
                </button>
              </div>
            </div>
          </div>
          <!-- related-layer end -->
        </li>
      </ul>
    </div>
  </div>

  <div class="wrap">
    <div class="footer-logo"><a href="#">경기데이터포털</a></div>
    <div class="footer-contents">
      <div class="footer-info">
        <div class="address">
          <p>경기도청 (16508) 경기도 수원시 영통구 도청로 30 (이의동)</p>
          <p>북부청사 (16508) 경기도 의정부시 청사로 1 (신곡동)</p>
        </div>
        <div class="call">
          <p>
            <span class="bold">대표전화</span> 031-210 <span></span> (365일,
            24시간)
          </p>
        </div>
      </div>
      <div class="footer-link">
        <div class="link-go">
          <a href="#" class="btn-txt">이용안내</a>
          <a href="#" class="btn-txt">찾아오시는 길</a>
        </div>
        <ul class="sns">
          <li>
            <a
              href=""
              targer="_blank"
              rel="noopenner noreferrer"
              title="경기데이터포털 유튜브 (새 창 열림)"
              class="ico ico-youtube"
              ><span class="sr-only">유튜브</span>
            </a>
          </li>
          <li>
            <a
              href=""
              targer="_blank"
              rel="noopenner noreferrer"
              title="경기데이터포털 인스타그램 (새 창 열림)"
              class="ico ico-instagram"
              ><span class="sr-only">인스타그램</span>
            </a>
          </li>
          <li>
            <a
              href=""
              targer="_blank"
              rel="noopenner noreferrer"
              title="경기데이터포털 엑스 (새 창 열림)"
              class="ico ico-twitter"
              ><span class="sr-only">엑스</span>
            </a>
          </li>
          <li>
            <a
              href=""
              targer="_blank"
              rel="noopenner noreferrer"
              title="경기데이터포털 카카오스토리 (새 창 열림)"
              class="ico ico-facebook"
              ><span class="sr-only">페이스북</span>
            </a>
          </li>
          <li>
            <a
              href=""
              targer="_blank"
              rel="noopenner noreferrer"
              title="경기데이터포털 블로그 (새 창 열림)"
              class="ico ico-blog"
              ><span class="sr-only">블로그</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-text">
        <div class="fnb">
          <a href="#" class="point">개인정보처리방침</a>
          <a href="#">저작권 정책</a>
          <a href="#">웹 접근성 품질인증 마크 획득</a>
        </div>
        <p class="copy">© GYEONGGI PROVINCE All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
