<!-- 푸터 영역 -->
<footer id="krds-footer">
  <!-- foot-quick -->
  <div class="foot-quick">
    <div class="inner">
      <button
        type="button"
        class="link open-modal"
        title="소속기관(지청 및 위원회) 레이어"
        data-target="popFootLink"
      >
        패밀리사이트
      </button>
    </div>
  </div>
  <!-- //foot-quick -->
  <!-- inner -->
  <div class="inner">
    <div class="f-logo sample">
      <span class="sr-only">경기데이터포털</span>
    </div>
    <div class="f-cnt">
      <div class="f-info">
        <p class="info-addr">
          경기도청 (16508) 경기도 수원시 영통구 도청로 30 (이의동)<br />
          북부청사 (11780) 경기도 의정부시 청사로 1 (신곡동)
        </p>
        <p class="info-addr"></p>
        <ul class="info-cs">
          <li>
            <strong class="key-info">대표전화 <span>031-120</span></strong>
            <span class="more-info">(365일, 24시간)</span>
          </li>
        </ul>
      </div>

      <div class="f-link">
        <div class="link-go">
          <a href="#" class="krds-btn text"
            >이용안내 <i class="svg-icon ico-angle right"></i
          ></a>
          <a href="#" class="krds-btn text"
            >찾아오시는 길 <i class="svg-icon ico-angle right"></i
          ></a>
        </div>
        <!-- footer sns 삭제 12/02  -->
        <!-- <div class="link-sns">
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">인스타그램</span>
            <i class="svg-icon ico-instagram"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">유튜브</span>
            <i class="svg-icon ico-youtube"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">X</span>
            <i class="svg-icon ico-sns-x"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">페이스북</span>
            <i class="svg-icon ico-facebook"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">블로그</span>
            <i class="svg-icon ico-blog"></i>
          </a>
        </div> -->
      </div>
    </div>

    <div class="f-btm">
      <div class="f-btm-text">
        <div class="f-menu">
          <a href="#" class="krds-btn small text font-bold color-point"
            >개인정보처리방침</a
          >
          <a href="#" class="krds-btn small text">저작권 정책</a>
          <a href="#" class="krds-btn small text"
            >웹 접근성 품질인증 마크 획득</a
          >
        </div>
        <p class="f-copy">© GYEONGGI PROVINCE All Rights Reserved.</p>
      </div>
      <!-- <div class="krds-identifier">
        <span class="logo sample">
          <span class="sr-only">대한민국정부</span>
        </span>
        <span class="ban-txt">이 누리집은 정부 누리집입니다.</span>
      </div> -->
    </div>
  </div>
  <!-- //inner -->
</footer>
<!-- //푸터 영역 -->
