<!-- header -->
<header id="krds-header">
  <!-- 헤더 컨텐츠 영역  -->
  <div class="header-in">
    <!-- 헤더 상단 기타메뉴 -->
    <div class="header-container">
      <div class="inner">
        <div class="header-branding">
          <h2 class="logo">
            <a href="#">
              <span class="sr-only">경기데이터포털</span>
            </a>
          </h2>
          <div class="search-container">
            <div class="search-wrapper" id="searchWrapper">
              <div class="search-box">
                <input
                  type="text"
                  id="searchInput"
                  class="search-input"
                  placeholder="검색어를 입력하세요."
                  autocomplete="off"
                />
                <button class="clear-btn" id="clearBtn">
                  <svg
                    width="16"
                    height="16"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>

                <button class="btn-txt btn-ai-search ico-before ico-ai-search">
                  AI찾아드림
                </button>
                <button type="button" class="krds-btn icon large">
                  <span class="sr-only">입력한 비밀번호 보기</span>
                  <i class="svg-icon ico-sch"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="header-actions">
            <!-- web용 사이트 메뉴 전체보기 버튼 -->
            <button
              type="button"
              class="btn-navi menu-all open-modal web-only"
              title="전체메뉴"
              data-target="#gg_all_menu_pop"
            >
              전체메뉴
            </button>
            <button
              type="button"
              class="btn-navi all"
              aria-controls="mobile-nav"
            >
              전체메뉴
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- //헤더 상단 기타메뉴 -->

    <!-- 메인메뉴 : 데스크탑 -->
    <nav class="krds-main-menu">
      <div class="inner">
        <div class="justify-between">
          <!-- gnb -->
          <ul class="gnb-menu">
            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb">
                1Depth
              </button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true">
                  <ul>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <!-- 링크로 바로가기
                  <li>
                    <a
                      href="#"
                      class="gnb-sub-trigger is-link external-link"
                      data-trigger="gnb"
                      target="_blank"
                      title="새 창 열림"
                      >2Depth</a
                    >
                  </li>
                  --></ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb">
                1Depth
              </button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true">
                  <ul>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <!-- 링크로 바로가기
                  <li>
                    <a
                      href="#"
                      class="gnb-sub-trigger is-link external-link"
                      data-trigger="gnb"
                      target="_blank"
                      title="새 창 열림"
                      >2Depth</a
                    >
                  </li>
                  --></ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb">
                1Depth
              </button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true">
                  <ul>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <!-- 링크로 바로가기
                  <li>
                    <a
                      href="#"
                      class="gnb-sub-trigger is-link external-link"
                      data-trigger="gnb"
                      target="_blank"
                      title="새 창 열림"
                      >2Depth</a
                    >
                  </li>
                  --></ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb">
                1Depth
              </button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true">
                  <ul>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        2Depth
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                            <li>
                              <button type="button">Last depth</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <!-- 링크로 바로가기
                  <li>
                    <a
                      href="#"
                      class="gnb-sub-trigger is-link external-link"
                      data-trigger="gnb"
                      target="_blank"
                      title="새 창 열림"
                      >2Depth</a
                    >
                  </li>
                  --></ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb">
                참여·소통
              </button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true">
                  <ul>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        새소식
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2
                            class="sub-title"
                            onclick="navigate('news'); return false"
                          >
                            새소식
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        공지사항
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list">
                        <div class="gnb-sub-content">
                          <h2
                            class="sub-title"
                            onclick="navigate('notice'); return false;"
                          >
                            공지사항
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        자주 묻는 질문
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between">
                        <div class="gnb-sub-content">
                          <h2
                            class="sub-title"
                            onclick="navigate('faq'); return false;"
                          >
                            자주 묻는 질문
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button
                        type="button"
                        class="gnb-sub-trigger"
                        data-trigger="gnb"
                      >
                        문의하기
                      </button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between">
                        <div class="gnb-sub-content">
                          <h2
                            class="sub-title"
                            onclick="navigate('qna_write'); return false"
                          >
                            문의하기
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                  </ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <!-- 1DEPTH LINK로 바로가기
          <li>
            <a href="#" class="gnb-main-trigger is-link" data-trigger="gnb"
              >링크(anchor)</a
            >
          </li>
          <li>
            <button
              type="button"
              class="gnb-main-trigger is-link"
              data-trigger="gnb"
            >
              링크(anchor)
            </button>
          </li>
          --></ul>

          <!-- my-info -->
          <ul class="my-info">
            <li class="li" style="display: none">
              <button class="btn-txt mn-login" onclick="navigate('login')">
                로그인
              </button>
            </li>
            <li class="li" style="display: none">
              <button
                class="btn-txt mn-join"
                onclick="navigate('join'); return false"
              >
                회원가입
              </button>
            </li>
            <li class="li krds-drop-wrap my-drop">
              <button type="button" class="btn-txt mn-mypage drop-btn">
                마이페이지<span class="sr-only">열기</span>
              </button>
              <div class="drop-menu">
                <div class="drop-in">
                  <div class="drop-top">
                    <p class="my-name">홍길동님</p>
                  </div>
                  <ul class="drop-list">
                    <li onclick="navigate('mypage')">
                      <a href="#" class="item-link">마이페이지 홈</a>
                    </li>
                    <li>
                      <a href="#" class="item-link">나의 문의내역</a>
                    </li>
                    <li>
                      <a href="#" class="item-link">나의 활용갤러리</a>
                    </li>
                    <li>
                      <a href="#" class="item-link">나의 신청관리</a>
                    </li>
                    <li>
                      <a href="#" class="item-link">나의 정보관리</a>
                    </li>
                  </ul>
                  <!-- <div class="drop-bottom">
                    <button type="button" class="krds-btn medium text">
                      <i class="svg-icon ico-logout"></i> 로그아웃
                    </button>
                  </div> -->
                </div>
              </div>
            </li>
            <li class="li">
              <button class="btn-txt mn-logout">로그아웃</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- //메인메뉴 : 데스크탑 -->
  </div>
  <!-- //헤더 컨텐츠 영역  -->

  <!-- 메인메뉴 : 모바일 -->
  <div id="mobile-nav" class="krds-main-menu-mobile">
    <div class="gnb-wrap">
      <!-- gnb-header -->
      <div class="gnb-header">
        <!-- gnb-login -->
        <div class="gnb-login">
          <!-- <span class="user">홍길동님</span>
					<button type="button" class="krds-btn large text"><i class="svg-icon ico-logout"></i> 로그아웃</button> -->
          <button type="button" class="krds-btn large text">
            <i class="svg-icon ico-log"></i> 로그인을 해주세요
          </button>
        </div>
        <!-- //gnb-login -->
        <!-- 검색 -->
        <!-- <div class="sch-input">
          <input
            type="text"
            class="krds-input"
            placeholder="찾고자 하는 메뉴명을 입력해 주세요"
            title="찾고자 하는 메뉴명 입력"
          />
          <button type="button" class="krds-btn medium icon ico-search">
            <span class="sr-only">검색</span>
            <i class="svg-icon ico-sch"></i>
          </button>
        </div> -->
        <!-- //검색 -->
      </div>
      <!-- //gnb-header -->

      <!-- gnb-body -->
      <div class="gnb-body">
        <!-- gnb-menu -->
        <div class="gnb-menu">
          <div class="menu-wrap">
            <ul>
              <li>
                <a href="#mGnb-anchor1" class="gnb-main-trigger">1Depth</a>
              </li>
              <li>
                <a href="#mGnb-anchor2" class="gnb-main-trigger">1Depth</a>
              </li>
              <li>
                <a href="#mGnb-anchor3" class="gnb-main-trigger">1Depth</a>
              </li>
              <li>
                <a href="#mGnb-anchor4" class="gnb-main-trigger">1Depth</a>
              </li>
              <li>
                <a href="#mGnb-anchor5" class="gnb-main-trigger">1Depth</a>
              </li>
            </ul>
          </div>
          <div class="submenu-wrap">
            <div class="gnb-sub-list" id="mGnb-anchor1">
              <h2 class="sub-title">1Depth</h2>
              <ul>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
              </ul>
            </div>
            <div class="gnb-sub-list" id="mGnb-anchor2">
              <h2 class="sub-title">1Depth</h2>
              <ul>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
              </ul>
            </div>
            <div class="gnb-sub-list" id="mGnb-anchor3">
              <h2 class="sub-title">1Depth</h2>
              <ul>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li>
                  <a href="#" class="gnb-sub-trigger has-depth3">2Depth</a>
                  <div class="depth3-wrap">
                    <ul>
                      <li>
                        <a href="#" class="depth3-trigger has-depth4">3Depth</a>
                        <div class="depth4-wrap">
                          <div class="depth4-head">
                            <button
                              type="button"
                              class="krds-btn icon trigger-prev"
                            >
                              <span class="sr-only">이전화면</span>
                              <i class="svg-icon ico-angle left"></i>
                            </button>
                            <button
                              type="button"
                              class="krds-btn icon trigger-close"
                            >
                              <span class="sr-only">전체메뉴 닫기</span>
                              <i class="svg-icon ico-popup-close"></i>
                            </button>
                          </div>
                          <ul class="depth4-body">
                            <h4 class="sub-title">4Depth title</h4>
                            <ul class="depth4-ul">
                              <li><a href="#">depth title</a></li>
                              <li><a href="#">depth title</a></li>
                              <li><a href="#">depth title</a></li>
                              <li><a href="#">depth title</a></li>
                            </ul>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#" class="depth3-trigger">3Depth</a>
                      </li>
                      <li>
                        <a href="#" class="depth3-trigger">3Depth</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="gnb-sub-list" id="mGnb-anchor4">
              <h2 class="sub-title">1Depth</h2>
              <ul>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
              </ul>
            </div>
            <div class="gnb-sub-list" id="mGnb-anchor5">
              <h2 class="sub-title">1Depth</h2>
              <ul>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
                <li><a href="#" class="gnb-sub-trigger">2Depth</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- //gnb-menu -->
        <!-- gnb-bottom -->
        <div class="gnb-bottom">
          <a href="#" class="krds-btn medium text"
            >메뉴명 <i class="svg-icon ico-angle right"></i
          ></a>
          <a
            href="#"
            class="krds-btn medium text"
            target="_blank"
            title="새 창 열기"
          >
            메뉴명 <i class="svg-icon ico-go"></i
          ></a>
        </div>
        <!-- //gnb-bottom -->
      </div>
      <!-- //gnb-body -->

      <!-- gnb-close -->
      <button type="button" class="krds-btn medium icon" id="close-nav">
        <span class="sr-only">전체메뉴 닫기</span>
        <i class="svg-icon ico-popup-close"></i>
      </button>
      <!-- //gnb-close -->
    </div>
  </div>
  <!-- //메인메뉴 : 모바일 -->
</header>
<!-- //header -->
